#  Data Science with Pandas - 1
## Practice Notebook 4.1
#### Pandas, Matplotlib, SciPy, Numpy, 

This is a basic Data Science with Pandas practice notebook which covers the following topics:


* Pandas
* Matplotlib

* Loading and reading the CSV data
* Accessing and indexing data
* Sorting and describing data
* Saving modified Dataframework to CSV or EXCEL
* Filtering Data



It would roughly take 1 hour to comple this notebook. 

Feel free to write me feedback at vishusharma296@gmail.com

Author: Vishu Sharma\
Last update: 18.02.2022\
Version: 01_2022

#### Sources to learn Numpy, SciPy, Pandas, Matplotlib:


* [Numpy User guide](https://numpy.org/doc/stable/numpy-user.pdf)
* [Pandas User guide](https://pandas.pydata.org/docs/user_guide/index.html)
* [Pandas dataframe](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.html)
* [Scipy Lecture Notes](http://scipy-lectures.org/index.html)
* [Matplotlib](http://scipy-lectures.org/intro/matplotlib/index.html)



**Refrences**\

In [1]:
# importing Libraries

%matplotlib inline

import math
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

#### Loading and reading the CSV data

In [2]:
# Loading data into pandas

df_Pokemon = pd.read_csv('Pokemon_Data.csv',)

In [3]:
# Checking Header till specific index

print(df_Pokemon.head(4))

        Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
0  Bulbasaur            NaN        GRASS         POISON      50       49  45
1    Ivysaur            NaN        GRASS         POISON      62       63  60
2   Venusaur            NaN        GRASS         POISON      82       83  80
3   Venusaur  Mega Venusaur        GRASS         POISON     100      123  80

   Sp.Attack  Sp.Defense  Speed  Total
0         65          65     45    318
1         80          80     60    405
2        100         100     80    525
3        122         120     80    625

In [4]:
# Checking column labels

print(df_Pokemon.columns)

Index(['Name', 'Name2', 'Primary Type', 'Secondary type', 'Attack', 'Defense',
       'HP', 'Sp.Attack', 'Sp.Defense', 'Speed', 'Total'],
      dtype='object')

#### Accessing and indexing data

In [5]:
# Accessing specific columns at desired index

print(df_Pokemon[['Name','Attack', 'Speed']] [0:10])

         Name  Attack  Speed
0   Bulbasaur      50     45
1     Ivysaur      62     60
2    Venusaur      82     80
3    Venusaur     100     80
4  Charmander      52     65
5  Charmeleon      64     80
6   Charizard      84    100
7   Charizard     130    100
8   Charizard     104    100
9    Squirtle      48     43

In [6]:
# Accessing specific rows at desired index

print(df_Pokemon.iloc[2:6])

         Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
2    Venusaur            NaN        GRASS         POISON      82       83  80
3    Venusaur  Mega Venusaur        GRASS         POISON     100      123  80
4  Charmander            NaN         FIRE            NaN      52       43  39
5  Charmeleon            NaN         FIRE            NaN      64       58  58

   Sp.Attack  Sp.Defense  Speed  Total
2        100         100     80    525
3        122         120     80    625
4         60          50     65    309
5         80          65     80    405

In [7]:
# Accessing specific row and columns

print(df_Pokemon.iloc[5,0])

Charmeleon

In [8]:
# Locating entries with specific non numeric information

df_Pokemon.loc[df_Pokemon['Primary Type'] == "FIRE"]   
# tells about all the entries with fire as primary attack

,Name,Name2,Primary Type,Secondary type,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,Total
4,Charmander,NaN,FIRE,NaN,52,43,39,60,50,65,309
5,Charmeleon,NaN,FIRE,NaN,64,58,58,80,65,80,405
6,Charizard,NaN,FIRE,FLYING,84,78,78,109,85,100,534
7,Charizard,Mega Charizard X,FIRE,DRAGON,130,111,78,130,85,100,634
8,Charizard,Mega Charizard Y,FIRE,FLYING,104,78,78,159,115,100,634
...,...,...,...,...,...,...,...,...,...,...,...
949,Scorbunny,NaN,FIRE,NaN,71,40,50,40,40,69,310
950,Raboot,NaN,FIRE,NaN,86,60,65,55,60,94,420
951,Cinderace,NaN,FIRE,NaN,116,75,80,65,75,119,530
987,Sizzlipede,NaN,FIRE,BUG,65,45,50,50,50,45,305
988,Centiskorch,NaN,FIRE,BUG,115,65,100,90,90,65,525

In [9]:
# Using for loop to iterate

for index, row in df_Pokemon.iterrows():
    print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 Charizard
8 Charizard
9 Squirtle
10 Wartortle
11 Blastoise
12 Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 Beedrill
20 Pidgey
21 Pidgeotto
22 Pidgeot
23 Pidgeot
24 Rattata
25 Rattata
26 Raticate
27 Raticate
28 Spearow
29 Fearow
30 Ekans
31 Arbok
32 Pikachu
33 Pikachu
34 Raichu
35 Raichu
36 Sandshrew
37 Sandshrew
38 Sandslash
39 Sandslash
40 Nidoran?
41 Nidorina
42 Nidoqueen
43 Nidoran?
44 Nidorino
45 Nidoking
46 Clefairy
47 Clefable
48 Vulpix
49 Vulpix
50 Ninetales
51 Ninetales
52 Jigglypuff
53 Wigglytuff
54 Zubat
55 Golbat
56 Oddish
57 Gloom
58 Vileplume
59 Paras
60 Parasect
61 Venonat
62 Venomoth
63 Diglett
64 Diglett
65 Dugtrio
66 Dugtrio
67 Meowth
68 Meowth
69 Meowth
70 Persian
71 Persian
72 Psyduck
73 Golduck
74 Mankey
75 Primeape
76 Growlithe
77 Arcanine
78 Poliwag
79 Poliwhirl
80 Poliwrath
81 Abra
82 Kadabra
83 Alakazam
84 Alakazam
85 Machop
86 Machoke
87 Machamp
88 Bellsprout
89 Weepinbell
90 Victreebel
91 Tentacool
92 Tentacruel
93 Geodude
94 Geodude
95 Graveler
96 Graveler
97 Golem
98 Golem
99 Ponyta
100 Ponyta
101 Rapidash
102 Rapidash
103 Slowpoke
104 Slowpoke
105 Slowbro
106 Slowbro
107 Slowbro
108 Magnemite
109 Magneton
110 Farfetch'd
111 Farfetch'd
112 Doduo
113 Dodrio
114 Seel
115 Dewgong
116 Grimer
117 Grimer
118 Muk
119 Muk
120 Shellder
121 Cloyster
122 Gastly
123 Haunter
124 Gengar
125 Gengar
126 Onix
127 Drowzee
128 Hypno
129 Krabby
130 Kingler
131 Voltorb
132 Electrode
133 Exeggcute
134 Exeggutor
135 Exeggutor
136 Cubone
137 Marowak
138 Marowak
139 Hitmonlee
140 Hitmonchan
141 Lickitung
142 Koffing
143 Weezing
144 Weezing
145 Rhyhorn
146 Rhydon
147 Chansey
148 Tangela
149 Kangaskhan
150 Kangaskhan
151 Horsea
152 Seadra
153 Goldeen
154 Seaking
155 Staryu
156 Starmie
157 Mr. Mime
158 Mr. Mime
159 Scyther
160 Jynx
161 Electabuzz
162 Magmar
163 Pinsir
164 Pinsir
165 Tauros
166 Magikarp
167 Gyarados
168 Gyarados
169 Lapras
170 Ditto
171 Eevee
172 Eevee
173 Vaporeon
174 Jolteon
175 Flareon
176 Porygon
177 Omanyte
178 Omastar
179 Kabuto
180 Kabutops
181 Aerodactyl
182 Aerodactyl
183 Snorlax
184 Articuno
185 Articuno
186 Zapdos
187 Zapdos
188 Moltres
189 Moltres
190 Dratini
191 Dragonair
192 Dragonite
193 Mewtwo
194 Mewtwo
195 Mewtwo
196 Mew
197 Chikorita
198 Bayleef
199 Meganium
200 Cyndaquil
201 Quilava
202 Typhlosion
203 Totodile
204 Croconaw
205 Feraligatr
206 Sentret
207 Furret
208 Hoothoot
209 Noctowl
210 Ledyba
211 Ledian
212 Spinarak
213 Ariados
214 Crobat
215 Chinchou
216 Lanturn
217 Pichu
218 Cleffa
219 Igglybuff
220 Togepi
221 Togetic
222 Natu
223 Xatu
224 Mareep
225 Flaaffy
226 Ampharos
227 Ampharos
228 Bellossom
229 Marill
230 Azumarill
231 Sudowoodo
232 Politoed
233 Hoppip
234 Skiploom
235 Jumpluff
236 Aipom
237 Sunkern
238 Sunflora
239 Yanma
240 Wooper
241 Quagsire
242 Espeon
243 Umbreon
244 Murkrow
245 Slowking
246 Slowking
247 Misdreavus
248 Unown
249 Wobbuffet
250 Girafarig
251 Pineco
252 Forretress
253 Dunsparce
254 Gligar
255 Steelix
256 Steelix
257 Snubbull
258 Granbull
259 Qwilfish
260 Scizor
261 Scizor
262 Shuckle
263 Heracross
264 Heracross
265 Sneasel
266 Teddiursa
267 Ursaring
268 Slugma
269 Magcargo
270 Swinub
271 Piloswine
272 Corsola
273 Corsola
274 Remoraid
275 Octillery
276 Delibird
277 Mantine
278 Skarmory
279 Houndour
280 Houndoom
281 Houndoom
282 Kingdra
283 Phanpy
284 Donphan
285 Porygon2
286 Stantler
287 Smeargle
288 Tyrogue
289 Hitmontop
290 Smoochum
291 Elekid
292 Magby
293 Miltank
294 Blissey
295 Raikou
296 Entei
297 Suicune
298 Larvitar
299 Pupitar
300 Tyranitar
301 Tyranitar
302 Lugia
303 Ho-oh
304 Celebi
305 Treecko
306 Grovyle
307 Sceptile
308 Sceptile
309 Torchic
310 Combusken
311 Blaziken
312 Blaziken
313 Mudkip
314 Marshtomp
315 Swampert
316 Swampert
317 Poochyena
318 Mightyena
319 Zigzagoon
320 Zigzagoon
321 Linoone
322 Linoone
323 Wurmple
324 Silcoon
325 Beautifly
326 Cascoon
327 Dustox
328 Lotad
329 Lombre
330 Ludicolo
331 Seedot
332 Nuzleaf
333 Shiftry
334 Taillow
335 Swellow
336 Wingull
337 Pelipper
338 Ralts
339 Kirlia
340 Gardevoir
341 Gardevoir
342 Surskit
343 Masquerain
344 Shroomish
345 Breloom
346 Slakoth
347 Vigoroth
348 Slaking
349 Nincada
350 Ninjask
351 Shedinja
352 Whismur
353 Loudred
354 Exploud
355 Makuhita
356 Hariyama
357 Azurill
358 Nosepass
359 Skitty
360 Delcatty
361 Sableye
362 Sableye
363 Mawile
364 Mawile
365 Aron
366 Lairon
367 Aggron
368 Aggron
369 Meditite
370 Medicham
371 Medicham
372 Electrike
373 Manectric
374 Manectric
375 Plusle
376 Minun
377 Volbeat
378 Illumise
379 Roselia
380 Gulpin
381 Swalot
382 Carvanha
383 Sharpedo
384 Sharpedo
385 Wailmer
386 Wailord
387 Numel
388 Camerupt
389 Camerupt
390 Torkoal
391 Spoink
392 Grumpig
393 Spinda
394 Trapinch
395 Vibrava
396 Flygon
397 Cacnea
398 Cacturne
399 Swablu
400 Altaria
401 Altaria
402 Zangoose
403 Seviper
404 Lunatone
405 Solrock
406 Barboach
407 Whiscash
408 Corphish
409 Crawdaunt
410 Baltoy
411 Claydol
412 Lileep
413 Cradily
414 Anorith
415 Armaldo
416 Feebas
417 Milotic
418 Castform
419 Castform
420 Castform
421 Castform
422 Kecleon
423 Shuppet
424 Banette
425 Banette
426 Duskull
427 Dusclops
428 Tropius
429 Chimecho
430 Absol
431 Absol
432 Wynaut
433 Snorunt
434 Glalie
435 Glalie
436 Spheal
437 Sealeo
438 Walrein
439 Clamperl
440 Huntail
441 Gorebyss
442 Relicanth
443 Luvdisc
444 Bagon
445 Shelgon
446 Salamence
447 Salamence
448 Beldum
449 Metang
450 Metagross
451 Metagross
452 Regirock
453 Regice
454 Registeel
455 Latias
456 Latias
457 Latios
458 Latios
459 Kyogre
460 Kyogre
461 Groudon
462 Groudon
463 Rayquaza
464 Rayquaza
465 Jirachi
466 Deoxys
467 Deoxys
468 Deoxys
469 Deoxys
470 Turtwig
471 Grotle
472 Torterra
473 Chimchar
474 Monferno
475 Infernape
476 Piplup
477 Prinplup
478 Empoleon
479 Starly
480 Staravia
481 Staraptor
482 Bidoof
483 Bibarel
484 Kricketot
485 Kricketune
486 Shinx
487 Luxio
488 Luxray
489 Budew
490 Roserade
491 Cranidos
492 Rampardos
493 Shieldon
494 Bastiodon
495 Burmy
496 Wormadam
497 Wormadam
498 Wormadam
499 Mothim
500 Combee
501 Vespiquen
502 Pachirisu
503 Buizel
504 Floatzel
505 Cherubi
506 Cherrim
507 Shellos
508 Gastrodon
509 Ambipom
510 Drifloon
511 Drifblim
512 Buneary
513 Lopunny
514 Lopunny
515 Mismagius
516 Honchkrow
517 Glameow
518 Purugly
519 Chingling
520 Stunky
521 Skuntank
522 Bronzor
523 Bronzong
524 Bonsly
525 Mime Jr.
526 Happiny
527 Chatot
528 Spiritomb
529 Gible
530 Gabite
531 Garchomp
532 Garchomp
533 Munchlax
534 Riolu
535 Lucario
536 Lucario
537 Hippopotas
538 Hippowdon
539 Skorupi
540 Drapion
541 Croagunk
542 Toxicroak
543 Carnivine
544 Finneon
545 Lumineon
546 Mantyke
547 Snover
548 Abomasnow
549 Abomasnow
550 Weavile
551 Magnezone
552 Lickilicky
553 Rhyperior
554 Tangrowth
555 Electivire
556 Magmortar
557 Togekiss
558 Yanmega
559 Leafeon
560 Glaceon
561 Gliscor
562 Mamoswine
563 Porygon-Z
564 Gallade
565 Gallade
566 Probopass
567 Dusknoir
568 Froslass
569 Rotom
570 Rotom
571 Rotom
572 Rotom
573 Rotom
574 Rotom
575 Uxie
576 Mesprit
577 Azelf
578 Dialga
579 Palkia
580 Heatran
581 Regigigas
582 Giratina
583 Giratina
584 Cresselia
585 Phione
586 Manaphy
587 Darkrai
588 Shaymin
589 Shaymin
590 Arceus
591 Victini
592 Snivy
593 Servine
594 Serperior
595 Tepig
596 Pignite
597 Emboar
598 Oshawott
599 Dewott
600 Samurott
601 Patrat
602 Watchog
603 Lillipup
604 Herdier
605 Stoutland
606 Purrloin
607 Liepard
608 Pansage
609 Simisage
610 Pansear
611 Simisear
612 Panpour
613 Simipour
614 Munna
615 Musharna
616 Pidove
617 Tranquill
618 Unfezant
619 Blitzle
620 Zebstrika
621 Roggenrola
622 Boldore
623 Gigalith
624 Woobat
625 Swoobat
626 Drilbur
627 Excadrill
628 Audino
629 Audino
630 Timburr
631 Gurdurr
632 Conkeldurr
633 Tympole
634 Palpitoad
635 Seismitoad
636 Throh
637 Sawk
638 Sewaddle
639 Swadloon
640 Leavanny
641 Venipede
642 Whirlipede
643 Scolipede
644 Cottonee
645 Whimsicott
646 Petilil
647 Lilligant
648 Basculin
649 Basculin
650 Sandile
651 Krokorok
652 Krookodile
653 Darumaka
654 Darumaka
655 Darmanitan
656 Darmanitan
657 Darmanitan
658 Darmanitan
659 Maractus
660 Dwebble
661 Crustle
662 Scraggy
663 Scrafty
664 Sigilyph
665 Yamask
666 Yamask
667 Cofagrigus
668 Tirtouga
669 Carracosta
670 Archen
671 Archeops
672 Trubbish
673 Garbodor
674 Zorua
675 Zoroark
676 Minccino
677 Cinccino
678 Gothita
679 Gothorita
680 Gothitelle
681 Solosis
682 Duosion
683 Reuniclus
684 Ducklett
685 Swanna
686 Vanillite
687 Vanillish
688 Vanilluxe
689 Deerling
690 Sawsbuck
691 Emolga
692 Karrablast
693 Escavalier
694 Foongus
695 Amoonguss
696 Frillish
697 Jellicent
698 Alomomola
699 Joltik
700 Galvantula
701 Ferroseed
702 Ferrothorn
703 Klink
704 Klang
705 Klinklang
706 Tynamo
707 Eelektrik
708 Eelektross
709 Elgyem
710 Beheeyem
711 Litwick

712 Lampent
713 Chandelure
714 Axew
715 Fraxure
716 Haxorus
717 Cubchoo
718 Beartic
719 Cryogonal
720 Shelmet
721 Accelgor
722 Stunfisk
723 Stunfisk
724 Mienfoo
725 Mienshao
726 Druddigon
727 Golett
728 Golurk
729 Pawniard
730 Bisharp
731 Bouffalant
732 Rufflet
733 Braviary
734 Vullaby
735 Mandibuzz
736 Heatmor
737 Durant
738 Deino
739 Zweilous
740 Hydreigon
741 Larvesta
742 Volcarona
743 Cobalion
744 Terrakion
745 Virizion
746 Tornadus
747 Tornadus
748 Thundurus
749 Thundurus
750 Reshiram
751 Zekrom
752 Landorus
753 Landorus
754 Kyurem
755 Kyurem
756 Kyurem
757 Keldeo
758 Keldeo
759 Meloetta
760 Meloetta
761 Genesect
762 Chespin
763 Quilladin
764 Chesnaught
765 Fennekin
766 Braixen
767 Delphox
768 Froakie
769 Frogadier
770 Greninja
771 Greninja
772 Bunnelby
773 Diggersby
774 Fletchling
775 Fletchinder
776 Talonflame
777 Scatterbug
778 Spewpa
779 Vivillon
780 Litleo
781 Pyroar
782 Flab??
783 Floette
784 Florges
785 Skiddo
786 Gogoat
787 Pancham
788 Pangoro
789 Furfrou
790 Espurr
791 Meowstic
792 Meowstic
793 Honedge
794 Doublade
795 Aegislash
796 Aegislash
797 Spritzee
798 Aromatisse
799 Swirlix
800 Slurpuff
801 Inkay
802 Malamar
803 Binacle
804 Barbaracle
805 Skrelp
806 Dragalge
807 Clauncher
808 Clawitzer
809 Helioptile
810 Heliolisk
811 Tyrunt
812 Tyrantrum
813 Amaura
814 Aurorus
815 Sylveon
816 Hawlucha
817 Dedenne
818 Carbink
819 Goomy
820 Sliggoo
821 Goodra
822 Klefki
823 Phantump
824 Trevenant
825 Pumpkaboo
826 Pumpkaboo
827 Pumpkaboo
828 Pumpkaboo
829 Gourgeist
830 Gourgeist
831 Gourgeist
832 Gourgeist
833 Bergmite
834 Avalugg
835 Noibat
836 Noivern
837 Xerneas
838 Yveltal
839 Zygarde
840 Zygarde
841 Zygarde
842 Diancie
843 Diancie
844 Hoopa
845 Hoopa
846 Volcanion
847 Rowlet
848 Dartrix
849 Decidueye
850 Litten
851 Torracat
852 Incineroar
853 Popplio
854 Brionne
855 Primarina
856 Pikipek
857 Trumbeak
858 Toucannon
859 Yungoos
860 Gumshoos
861 Grubbin
862 Charjabug
863 Vikavolt
864 Crabrawler
865 Crabominable
866 Oricorio
867 Oricorio
868 Oricorio
869 Oricorio
870 Cutiefly
871 Ribombee
872 Rockruff
873 Rockruff
874 Lycanroc
875 Lycanroc
876 Lycanroc
877 Wishiwashi
878 Wishiwashi
879 Mareanie
880 Toxapex
881 Mudbray
882 Mudsdale
883 Dewpider
884 Araquanid
885 Fomantis
886 Lurantis
887 Morelull
888 Shiinotic
889 Salandit
890 Salazzle
891 Stufful
892 Bewear
893 Bounsweet
894 Steenee
895 Tsareena
896 Comfey
897 Oranguru
898 Passimian
899 Wimpod
900 Golisopod
901 Sandygast
902 Palossand
903 Pyukumuku
904 Type: Null
905 Silvally
906 Minior
907 Minior
908 Komala
909 Turtonator
910 Togedemaru
911 Mimikyu
912 Bruxish
913 Drampa
914 Dhelmise
915 Jangmo-o
916 Hakamo-o
917 Kommo-o
918 Tapu Koko
919 Tapu Lele
920 Tapu Bulu
921 Tapu Fini
922 Cosmog
923 Cosmoem
924 Solgaleo
925 Lunala
926 Nihilego
927 Buzzwole
928 Pheromosa
929 Xurkitree
930 Celesteela
931 Kartana
932 Guzzlord
933 Necrozma
934 Necrozma
935 Necrozma
936 Necrozma
937 Magearna
938 Marshadow
939 Poipole
940 Naganadel
941 Stakataka
942 Blacephalon
943 Zeraora
944 Meltan
945 Melmetal
946 Grookey
947 Thwackey
948 Rillaboom
949 Scorbunny
950 Raboot
951 Cinderace
952 Sobble
953 Drizzile
954 Inteleon
955 Skwovet
956 Greedent
957 Rookidee
958 Corvisquire
959 Corviknight
960 Blipbug
961 Dottler
962 Orbeetle
963 Nickit
964 Thievul
965 Gossifleur
966 Eldegoss
967 Wooloo
968 Dubwool
969 Chewtle
970 Drednaw
971 Yamper
972 Boltund
973 Rolycoly
974 Carkol
975 Coalossal
976 Applin
977 Flapple
978 Appletun
979 Silicobra
980 Sandaconda
981 Cramorant
982 Arrokuda
983 Barraskewda
984 Toxel
985 Toxtricity
986 Toxtricity
987 Sizzlipede
988 Centiskorch
989 Clobbopus
990 Grapploct
991 Sinistea
992 Polteageist
993 Hatenna
994 Hattrem
995 Hatterene
996 Impidimp
997 Morgrem
998 Grimmsnarl
999 Obstagoon
1000 Perrserker
1001 Cursola
1002 Sirfetch'd
1003 Mr. Rime
1004 Runerigus
1005 Milcery
1006 Alcremie
1007 Falinks
1008 Pincurchin
1009 Snom
1010 Frosmoth
1011 Stonjourner
1012 Eiscue
1013 Eiscue
1014 Indeedee
1015 Indeedee
1016 Morpeko
1017 Morpeko
1018 Cufant
1019 Copperajah
1020 Dracozolt
1021 Arctozolt
1022 Dracovish
1023 Arctovish
1024 Duraludon
1025 Dreepy
1026 Drakloak
1027 Dragapult
1028 Zacian
1029 Zacian
1030 Zamazenta
1031 Zamazenta
1032 Eternatus
1033 Eternatus
1034 Kubfu
1035 Urshifu
1036 Urshifu
1037 Zarude
1038 Regieleki
1039 Regidrago
1040 Glastrier
1041 Spectrier
1042 Calyrex
1043 Calyrex
1044 Calyrex

#### Sorting and describing data

In [10]:
# Checking High level details of dataframework Pokemon

df_Pokemon.describe()

,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,Total
count,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000
mean,80.467943,74.661244,70.067943,73.022010,72.288995,68.807656,439.314833
std,32.412750,31.237903,26.671411,32.724797,28.074148,30.210094,121.970701
min,5.000000,5.000000,1.000000,10.000000,20.000000,5.000000,175.000000
25%,55.000000,50.000000,50.000000,50.000000,50.000000,45.000000,330.000000
50%,77.000000,70.000000,68.000000,65.000000,70.000000,65.000000,458.000000
75%,100.000000,90.000000,82.000000,95.000000,90.000000,90.000000,515.000000
max,190.000000,250.000000,255.000000,194.000000,250.000000,200.000000,1125.000000

In [11]:
# Sorting by attack

df_Pokemon.sort_values('Attack', ascending = False)

,Name,Name2,Primary Type,Secondary type,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,Total
194,Mewtwo,Mega Mewtwo X,PSYCHIC,FIGHTING,190,100,106,154,100,130,780
264,Heracross,Mega Heracross,BUG,FIGHTING,185,115,80,40,105,75,600
931,Kartana,NaN,GRASS,STEEL,181,131,59,59,31,109,570
462,Groudon,Primal Groudon,GROUND,FIRE,180,160,100,150,90,90,770
467,Deoxys,Attack Forme,PSYCHIC,NaN,180,20,50,180,20,150,600
...,...,...,...,...,...,...,...,...,...,...,...
262,Shuckle,NaN,BUG,ROCK,10,230,20,10,230,5,505
166,Magikarp,NaN,WATER,NaN,10,55,20,15,20,80,200
294,Blissey,NaN,NORMAL,NaN,10,10,255,75,135,55,540
147,Chansey,NaN,NORMAL,NaN,5,5,250,35,105,50,450
526,Happiny,NaN,NORMAL,NaN,5,5,100,15,65,30,220

#### Modifying data

In [12]:
# Creating a new column

df_Pokemon['AD ratio'] = df_Pokemon['Attack']/df_Pokemon['Defense']
print(df_Pokemon.head(4))

        Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
0  Bulbasaur            NaN        GRASS         POISON      50       49  45
1    Ivysaur            NaN        GRASS         POISON      62       63  60
2   Venusaur            NaN        GRASS         POISON      82       83  80
3   Venusaur  Mega Venusaur        GRASS         POISON     100      123  80

   Sp.Attack  Sp.Defense  Speed  Total  AD ratio
0         65          65     45    318  1.020408
1         80          80     60    405  0.984127
2        100         100     80    525  0.987952
3        122         120     80    625  0.813008

In [13]:
# Sorting by attack-defense ratio

df_Pokemon.sort_values('AD ratio', ascending = False)

,Name,Name2,Primary Type,Secondary type,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,Total,AD ratio
467,Deoxys,Attack Forme,PSYCHIC,NaN,180,20,50,180,20,150,600,9.000000
382,Carvanha,NaN,WATER,DARK,90,20,45,65,20,65,305,4.500000
19,Beedrill,Mega Beedrill,BUG,POISON,150,40,65,15,80,145,495,3.750000
928,Pheromosa,NaN,BUG,FIGHTING,137,37,71,137,37,151,570,3.702703
491,Cranidos,NaN,ROCK,NaN,125,40,67,30,30,58,350,3.125000
...,...,...,...,...,...,...,...,...,...,...,...,...
126,Onix,NaN,ROCK,GROUND,45,160,35,30,45,70,385,0.281250
522,Bronzor,NaN,STEEL,PSYCHIC,24,86,57,24,86,23,300,0.279070
923,Cosmoem,NaN,PSYCHIC,NaN,29,131,43,29,131,37,400,0.221374
166,Magikarp,NaN,WATER,NaN,10,55,20,15,20,80,200,0.181818
262,Shuckle,NaN,BUG,ROCK,10,230,20,10,230,5,505,0.043478

In [14]:
# Dropping column

df1 = df_Pokemon.drop(columns = ['Total'])
print(df1.head(4))

        Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
0  Bulbasaur            NaN        GRASS         POISON      50       49  45
1    Ivysaur            NaN        GRASS         POISON      62       63  60
2   Venusaur            NaN        GRASS         POISON      82       83  80
3   Venusaur  Mega Venusaur        GRASS         POISON     100      123  80

   Sp.Attack  Sp.Defense  Speed  AD ratio
0         65          65     45  1.020408
1         80          80     60  0.984127
2        100         100     80  0.987952
3        122         120     80  0.813008

In [15]:
# Adding a column 

df1['SADS'] = df_Pokemon.iloc[:, 7:10].sum(axis = 1)
print(df1.head(4))

#where SADS = Sp attack + sp defence + speed

        Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
0  Bulbasaur            NaN        GRASS         POISON      50       49  45
1    Ivysaur            NaN        GRASS         POISON      62       63  60
2   Venusaur            NaN        GRASS         POISON      82       83  80
3   Venusaur  Mega Venusaur        GRASS         POISON     100      123  80

   Sp.Attack  Sp.Defense  Speed  AD ratio  SADS
0         65          65     45  1.020408   175
1         80          80     60  0.984127   220
2        100         100     80  0.987952   280
3        122         120     80  0.813008   322

In [16]:
# Rearranging the order of columns

cols = list(df1.columns)
df2 = df1[cols[0:1] + cols[4:10] + cols[10:12] + cols[1:4]]
df2.head(3)

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type
0,Bulbasaur,50,49,45,65,65,45,1.020408,175,NaN,GRASS,POISON
1,Ivysaur,62,63,60,80,80,60,0.984127,220,NaN,GRASS,POISON
2,Venusaur,82,83,80,100,100,80,0.987952,280,NaN,GRASS,POISON

In [17]:
# Sorting modified framework

df3 = df2.sort_values('Name', ascending = True)
df3.head(3)

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type
548,Abomasnow,92,75,90,92,85,60,1.226667,237,NaN,GRASS,ICE
549,Abomasnow,132,105,90,132,105,30,1.257143,267,Mega Abomasnow,GRASS,ICE
81,Abra,20,15,25,105,55,90,1.333333,250,NaN,PSYCHIC,NaN

#### Saving Modified Dataframework to CSV

In [18]:
# saving the new df as csv in local storage
PM_df3 = df3.to_csv(r'C:\Users\vishu\Python Practice_ATBS_2022\Pokemon_modified3.csv')

In [19]:
# saving the new df as xlsx in local storage
df3.to_excel(r'C:\Users\vishu\Python Practice_ATBS_2022\Pokemon_modexcel3.xlsx', index = False )

#### Filtering Data

In [20]:
# Selecting entries where Primary Type is GRASS and Secondary type is Fire

df3.loc[(df3['Primary Type'] == 'GRASS') & (df3['Secondary type'] == 'ICE')]

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type
548,Abomasnow,92,75,90,92,85,60,1.226667,237,NaN,GRASS,ICE
549,Abomasnow,132,105,90,132,105,30,1.257143,267,Mega Abomasnow,GRASS,ICE
547,Snover,62,50,60,62,60,40,1.240000,162,NaN,GRASS,ICE

In [21]:
# AD ratio is greater than 3 Primary Type is BUG or Secondary type is Flying
df3.loc[(df3['AD ratio'] >= 3) & ((df3['Primary Type'] == 'BUG') | (df3['Secondary type'] == 'FLYING'))]

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type
19,Beedrill,150,40,65,15,80,145,3.750000,240,Mega Beedrill,BUG,POISON
928,Pheromosa,137,37,71,137,37,151,3.702703,325,NaN,BUG,FIGHTING

In [22]:
# Filtering the entries with specific string
df3.loc[df3['Name'].str.contains('saur')]

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type
0,Bulbasaur,50,49,45,65,65,45,1.020408,175,NaN,GRASS,POISON
1,Ivysaur,62,63,60,80,80,60,0.984127,220,NaN,GRASS,POISON
2,Venusaur,82,83,80,100,100,80,0.987952,280,NaN,GRASS,POISON
3,Venusaur,100,123,80,122,120,80,0.813008,322,Mega Venusaur,GRASS,POISON

In [23]:
# Filtering with regular expression

import re
df3.loc[df3['Primary Type'].str.contains('GHOST|DRAGON', regex = True)]

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type
401,Altaria,110,110,75,110,105,80,1.000000,295,Mega Altaria,DRAGON,FAIRY
400,Altaria,70,90,75,70,105,80,0.777778,255,NaN,DRAGON,FLYING
714,Axew,87,60,46,30,40,57,1.450000,127,NaN,DRAGON,NaN
444,Bagon,75,60,45,40,30,50,1.250000,120,NaN,DRAGON,NaN
424,Banette,115,65,64,83,63,65,1.769231,211,NaN,GHOST,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
665,Yamask,30,85,38,55,65,30,0.352941,150,NaN,GHOST,NaN
751,Zekrom,150,120,100,120,100,90,1.250000,310,NaN,DRAGON,ELECTRIC
839,Zygarde,100,121,108,81,95,95,0.826446,271,50% Forme,DRAGON,GROUND
841,Zygarde,100,121,216,91,95,85,0.826446,271,Complete Forme,DRAGON,GROUND
840,Zygarde,100,71,54,61,85,115,1.408451,261,10% Forme,DRAGON,GROUND

In [24]:
# Filtering for : Ignoring case sensitivity, filling when some characters in string are same 

df3.loc[df3['Name'].str.contains('pi[a-z]*', flags = re.I, regex = True)]

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type
13,Caterpie,30,35,45,20,20,45,0.857143,85,NaN,BUG,NaN
762,Chespin,61,65,56,48,45,38,0.938462,131,NaN,GRASS,NaN
883,Dewpider,40,52,38,40,72,27,0.769231,139,NaN,WATER,BUG
540,Drapion,90,110,70,60,75,95,0.818182,230,NaN,POISON,DARK
392,Grumpig,45,65,80,90,110,80,0.692308,280,NaN,PSYCHIC,NaN
380,Gulpin,43,53,70,43,53,40,0.811321,136,NaN,POISON,NaN
526,Happiny,5,5,100,15,65,30,1.000000,110,NaN,NORMAL,NaN
233,Hoppip,35,40,35,35,55,50,0.875000,140,NaN,GRASS,FLYING
996,Impidimp,45,30,45,55,40,50,1.500000,145,NaN,DARK,FAIRY
634,Palpitoad,65,55,75,65,55,69,1.181818,189,NaN,WATER,GROUND
217,Pichu,40,15,20,35,35,60,2.666667,130,NaN,ELECTRIC,NaN
22,Pidgeot,80,75,83,70,70,101,1.066667,241,NaN,NORMAL,FLYING
23,Pidgeot,80,80,83,135,80,121,1.000000,336,Mega Pidgeot,NORMAL,FLYING
21,Pidgeotto,60,55,63,50,50,71,1.090909,171,NaN,NORMAL,FLYING
20,Pidgey,45,40,40,35,35,56,1.125000,126,NaN,NORMAL,FLYING
616,Pidove,55,50,50,36,30,43,1.100000,109,NaN,NORMAL,FLYING
596,Pignite,93,55,90,70,55,55,1.690909,180,NaN,FIRE,FIGHTING
33,Pikachu,80,50,45,75,60,120,1.600000,255,Partner Pikachu,ELECTRIC,NaN
32,Pikachu,55,40,35,50,50,90,1.375000,190,NaN,ELECTRIC,NaN
856,Pikipek,75,30,35,30,30,65,2.500000,125,NaN,NORMAL,FLYING
271,Piloswine,100,80,100,60,60,50,1.250000,170,NaN,ICE,GROUND
1008,Pincurchin,101,95,48,91,85,15,1.063158,191,NaN,ELECTRIC,NaN
251,Pineco,65,90,50,35,35,15,0.722222,85,NaN,BUG,NaN
163,Pinsir,125,100,65,55,70,85,1.250000,210,NaN,BUG,NaN
164,Pinsir,155,120,65,65,90,105,1.291667,260,Mega Pinsir,BUG,FLYING
476,Piplup,51,53,53,61,56,40,0.962264,157,NaN,WATER,NaN
299,Pupitar,84,70,70,65,70,51,1.200000,186,NaN,ROCK,GROUND
102,Rapidash,100,70,65,80,80,105,1.428571,265,Galarian Rapidash,PSYCHIC,FAIRY
101,Rapidash,100,70,65,80,80,105,1.428571,265,NaN,FIRE,NaN
539,Skorupi,50,90,40,30,55,65,0.555556,150,NaN,POISON,BUG
212,Spinarak,60,40,40,40,40,30,1.500000,110,NaN,BUG,POISON
393,Spinda,60,60,60,60,60,60,1.000000,180,NaN,NORMAL,NaN
528,Spiritomb,92,108,50,92,108,35,0.851852,235,NaN,GHOST,DARK
595,Tepig,63,45,65,45,45,45,1.400000,135,NaN,FIRE,NaN
220,Togepi,20,65,35,40,65,20,0.307692,125,NaN,FAIRY,NaN
394,Trapinch,100,45,45,45,45,10,2.222222,100,NaN,GROUND,NaN
428,Tropius,68,83,99,72,87,51,0.819277,210,NaN,GRASS,FLYING
501,Vespiquen,80,102,70,80,102,40,0.784314,222,NaN,BUG,FLYING
48,Vulpix,41,40,38,50,65,65,1.025000,180,NaN,FIRE,NaN
49,Vulpix,41,40,38,50,65,65,1.025000,180,Alolan Vulpix,ICE,NaN
89,Weepinbell,90,50,65,85,45,55,1.800000,185,NaN,GRASS,POISON

#### Modifying dataframes with conditions

In [25]:
# Modifying Primary type from GRASS to NATURE

df3.loc[df3['Primary Type'] == 'GRASS', 'Primary Type'] = 'NATURE'
df3

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type
548,Abomasnow,92,75,90,92,85,60,1.226667,237,NaN,NATURE,ICE
549,Abomasnow,132,105,90,132,105,30,1.257143,267,Mega Abomasnow,NATURE,ICE
81,Abra,20,15,25,105,55,90,1.333333,250,NaN,PSYCHIC,NaN
430,Absol,130,60,65,75,60,75,2.166667,210,NaN,DARK,NaN
431,Absol,150,60,65,115,60,115,2.500000,290,Mega Absol,DARK,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
54,Zubat,45,35,40,30,40,55,1.285714,125,NaN,POISON,FLYING
739,Zweilous,85,70,72,65,70,58,1.214286,193,NaN,DARK,DRAGON
839,Zygarde,100,121,108,81,95,95,0.826446,271,50% Forme,DRAGON,GROUND
841,Zygarde,100,121,216,91,95,85,0.826446,271,Complete Forme,DRAGON,GROUND
840,Zygarde,100,71,54,61,85,115,1.408451,261,10% Forme,DRAGON,GROUND

In [26]:
# Modifying Primary type from GRASS to NATURE

df3.loc[df3['AD ratio'] > 3, ['Agression' , 'Protection']] = ['Very High', 'Maybe low']
df3

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Primary Type,Secondary type,Agression,Protection
548,Abomasnow,92,75,90,92,85,60,1.226667,237,NaN,NATURE,ICE,NaN,NaN
549,Abomasnow,132,105,90,132,105,30,1.257143,267,Mega Abomasnow,NATURE,ICE,NaN,NaN
81,Abra,20,15,25,105,55,90,1.333333,250,NaN,PSYCHIC,NaN,NaN,NaN
430,Absol,130,60,65,75,60,75,2.166667,210,NaN,DARK,NaN,NaN,NaN
431,Absol,150,60,65,115,60,115,2.500000,290,Mega Absol,DARK,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,Zubat,45,35,40,30,40,55,1.285714,125,NaN,POISON,FLYING,NaN,NaN
739,Zweilous,85,70,72,65,70,58,1.214286,193,NaN,DARK,DRAGON,NaN,NaN
839,Zygarde,100,121,108,81,95,95,0.826446,271,50% Forme,DRAGON,GROUND,NaN,NaN
841,Zygarde,100,121,216,91,95,85,0.826446,271,Complete Forme,DRAGON,GROUND,NaN,NaN
840,Zygarde,100,71,54,61,85,115,1.408451,261,10% Forme,DRAGON,GROUND,NaN,NaN

#### Statistics using Group by

In [27]:
# groupby mean HP of Primary type

df3.groupby(['Primary Type']).mean().sort_values('HP', ascending = False)

,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS
Primary Type,,,,,,,,
DRAGON,107.024390,83.926829,85.243902,91.731707,84.097561,84.341463,1.327205,260.170732
NORMAL,75.260870,61.173913,77.052174,57.217391,64.486957,69.678261,1.284728,191.382609
POISON,75.878049,76.731707,74.975610,69.268293,72.731707,65.926829,1.086268,207.926829
PSYCHIC,76.265823,72.341772,73.670886,99.075949,87.683544,80.316456,1.148563,267.075949
FAIRY,68.090909,70.545455,72.954545,78.954545,89.181818,59.545455,0.957779,227.681818
FIGHTING,102.928571,73.666667,72.928571,57.333333,68.214286,71.333333,1.453376,196.880952
ICE,78.307692,72.538462,71.897436,70.179487,73.871795,67.102564,1.173242,211.153846
WATER,74.992537,73.119403,70.888060,75.007463,71.395522,66.335821,1.095741,212.738806
GROUND,94.121951,85.463415,70.853659,54.585366,64.317073,61.804878,1.233090,180.707317
DARK,81.934783,66.391304,70.065217,71.086957,68.369565,76.695652,1.324655,216.152174
FLYING,75.125000,64.375000,69.625000,73.875000,70.000000,87.000000,1.195008,230.875000
STEEL,93.805556,117.111111,69.527778,69.861111,76.416667,53.638889,0.892429,199.916667
FIRE,85.400000,68.107692,69.430769,86.415385,71.292308,74.369231,1.335958,232.076923
ROCK,91.783333,97.966667,67.100000,61.366667,72.800000,57.666667,1.086244,191.833333
NATURE,74.824176,71.824176,66.736264,75.043956,70.054945,59.769231,1.077773,204.868132
GHOST,73.976190,79.952381,64.809524,83.476190,78.809524,63.047619,1.017902,225.333333
ELECTRIC,74.983871,66.241935,62.241935,89.548387,71.661290,86.758065,1.218684,247.967742
BUG,71.074074,71.802469,57.024691,56.382716,65.074074,63.259259,1.081302,184.716049

In [28]:
# groupby count in primary type
df3.groupby(['Primary Type']).count()

#df1.groupby(['Primary Type', 'Secondary type']).count()['count']

,Name,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,AD ratio,SADS,Name2,Secondary type,Agression,Protection
Primary Type,,,,,,,,,,,,,
BUG,81,81,81,81,81,81,81,81,81,7,62,2,2
DARK,46,46,46,46,46,46,46,46,46,10,32,0,0
DRAGON,41,41,41,41,41,41,41,41,41,11,28,0,0
ELECTRIC,62,62,62,62,62,62,62,62,62,16,28,0,0
FAIRY,22,22,22,22,22,22,22,22,22,2,3,0,0
FIGHTING,42,42,42,42,42,42,42,42,42,8,13,0,0
FIRE,65,65,65,65,65,65,65,65,65,9,31,0,0
FLYING,8,8,8,8,8,8,8,8,8,2,4,0,0
GHOST,42,42,42,42,42,42,42,42,42,14,27,0,0
GROUND,41,41,41,41,41,41,41,41,41,7,24,0,0
ICE,39,39,39,39,39,39,39,39,39,12,19,0,0
NATURE,91,91,91,91,91,91,91,91,91,6,48,0,0
NORMAL,115,115,115,115,115,115,115,115,115,7,44,0,0
POISON,41,41,41,41,41,41,41,41,41,6,25,0,0
PSYCHIC,79,79,79,79,79,79,79,79,79,25,34,1,1
ROCK,60,60,60,60,60,60,60,60,60,12,44,1,1
STEEL,36,36,36,36,36,36,36,36,36,7,25,0,0
WATER,134,134,134,134,134,134,134,134,134,14,62,1,1

#### Working with large data

In [29]:
# Dividing data into small chunks
for df5 in pd.read_csv('Pokemon_Data.csv', chunksize =5 ):
    print('chunk dataframe')
    print(df5)

chunk dataframe
         Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
0   Bulbasaur            NaN        GRASS         POISON      50       49  45
1     Ivysaur            NaN        GRASS         POISON      62       63  60
2    Venusaur            NaN        GRASS         POISON      82       83  80
3    Venusaur  Mega Venusaur        GRASS         POISON     100      123  80
4  Charmander            NaN         FIRE            NaN      52       43  39

   Sp.Attack  Sp.Defense  Speed  Total
0         65          65     45    318
1         80          80     60    405
2        100         100     80    525
3        122         120     80    625
4         60          50     65    309
chunk dataframe
         Name             Name2 Primary Type Secondary type  Attack  Defense  \
5  Charmeleon               NaN         FIRE            NaN      64       58
6   Charizard               NaN         FIRE         FLYING      84       78
7   Charizard  Mega Charizard X         FIRE         DRAGON     130      111
8   Charizard  Mega Charizard Y         FIRE         FLYING     104       78
9    Squirtle               NaN        WATER            NaN      48       65

   HP  Sp.Attack  Sp.Defense  Speed  Total
5  58         80          65     80    405
6  78        109          85    100    534
7  78        130          85    100    634
8  78        159         115    100    634
9  44         50          64     43    314
chunk dataframe
         Name           Name2 Primary Type  Secondary type  Attack  Defense  \
10  Wartortle             NaN        WATER             NaN      63       80
11  Blastoise             NaN        WATER             NaN      83      100
12  Blastoise  Mega Blastoise        WATER             NaN     103      120
13   Caterpie             NaN          BUG             NaN      30       35
14    Metapod             NaN          BUG             NaN      20       55

    HP  Sp.Attack  Sp.Defense  Speed  Total
10  59         65          80     58    405
11  79         85         105     78    530
12  79        135         115     78    630
13  45         20          20     45    195
14  50         25          25     30    205
chunk dataframe
          Name          Name2 Primary Type Secondary type  Attack  Defense  \
15  Butterfree            NaN          BUG         FLYING      45       50
16      Weedle            NaN          BUG         POISON      35       30
17      Kakuna            NaN          BUG         POISON      25       50
18    Beedrill            NaN          BUG         POISON      90       40
19    Beedrill  Mega Beedrill          BUG         POISON     150       40

    HP  Sp.Attack  Sp.Defense  Speed  Total
15  60         90          80     70    395
16  40         20          20     50    195
17  45         25          25     35    205
18  65         45          80     75    395
19  65         15          80    145    495
chunk dataframe
         Name         Name2 Primary Type Secondary type  Attack  Defense  HP  \
20     Pidgey           NaN       NORMAL         FLYING      45       40  40
21  Pidgeotto           NaN       NORMAL         FLYING      60       55  63
22    Pidgeot           NaN       NORMAL         FLYING      80       75  83
23    Pidgeot  Mega Pidgeot       NORMAL         FLYING      80       80  83
24    Rattata           NaN       NORMAL            NaN      56       35  30

    Sp.Attack  Sp.Defense  Speed  Total
20         35          35     56    251
21         50          50     71    349
22         70          70    101    479
23        135          80    121    579
24         25          35     72    253
chunk dataframe
        Name            Name2 Primary Type Secondary type  Attack  Defense  \
25   Rattata   Alolan Rattata         DARK         NORMAL      56       35
26  Raticate              NaN       NORMAL            NaN      81       60
27  Raticate  Alolan Raticate         DARK         NORMAL      71       70
28   Spearow              NaN       NORMAL         FLYING      60       30
29    Fearow              NaN       NORMAL         FLYING      90       65

    HP  Sp.Attack  Sp.Defense  Speed  Total
25  30         25          35     72    253
26  55         50          70     97    413
27  75         40          80     77    413
28  40         31          31     70    262
29  65         61          61    100    442
chunk dataframe
       Name            Name2 Primary Type  Secondary type  Attack  Defense  \
30    Ekans              NaN       POISON             NaN      60       44
31    Arbok              NaN       POISON             NaN      95       69
32  Pikachu              NaN     ELECTRIC             NaN      55       40
33  Pikachu  Partner Pikachu     ELECTRIC             NaN      80       50
34   Raichu              NaN     ELECTRIC             NaN      90       55

    HP  Sp.Attack  Sp.Defense  Speed  Total
30  35         40          54     55    288
31  60         65          79     80    448
32  35         50          50     90    320
33  45         75          60    120    430
34  60         90          80    110    485
chunk dataframe
         Name             Name2 Primary Type Secondary type  Attack  Defense  \
35     Raichu     Alolan Raichu     ELECTRIC        PSYCHIC      85       50
36  Sandshrew               NaN       GROUND            NaN      75       85
37  Sandshrew  Alolan Sandshrew          ICE          STEEL      75       90
38  Sandslash               NaN       GROUND            NaN     100      110
39  Sandslash  Alolan Sandslash          ICE          STEEL     100      120

    HP  Sp.Attack  Sp.Defense  Speed  Total
35  60         95          85    110    485
36  50         20          30     40    300
37  50         10          35     40    300
38  75         45          55     65    450
39  75         25          65     65    450
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
40   Nidoran?    NaN       POISON            NaN      47       52  55
41   Nidorina    NaN       POISON            NaN      62       67  70
42  Nidoqueen    NaN       POISON         GROUND      92       87  90
43   Nidoran?    NaN       POISON            NaN      57       40  46
44   Nidorino    NaN       POISON            NaN      72       57  61

    Sp.Attack  Sp.Defense  Speed  Total
40         40          40     41    275
41         55          55     56    365
42         75          85     76    505
43         40          40     50    273
44         55          55     65    365
chunk dataframe
        Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
45  Nidoking            NaN       POISON         GROUND     102       77  81
46  Clefairy            NaN        FAIRY            NaN      45       48  70
47  Clefable            NaN        FAIRY            NaN      70       73  95
48    Vulpix            NaN         FIRE            NaN      41       40  38
49    Vulpix  Alolan Vulpix          ICE            NaN      41       40  38

    Sp.Attack  Sp.Defense  Speed  Total
45         85          75     85    505
46         60          65     35    323
47         95          90     60    483
48         50          65     65    299
49         50          65     65    299
chunk dataframe
          Name             Name2 Primary Type Secondary type  Attack  Defense  \
50   Ninetales               NaN         FIRE            NaN      76       75
51   Ninetales  Alolan Ninetales          ICE          FAIRY      67       75
52  Jigglypuff               NaN       NORMAL          FAIRY      45       20
53  Wigglytuff               NaN       NORMAL          FAIRY      70       45
54       Zubat               NaN       POISON         FLYING      45       35

     HP  Sp.Attack  Sp.Defense  Speed  Total
50   73         81         100    100    505
51   73         81         100    109    505
52  115         45          25     20    270
53  140         85          50     45    435
54   40         30          40     55    245
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
55     Golbat    NaN       POISON         FLYING      80       70  75
56     Oddish    NaN        GRASS         POISON      50       55  45
57      Gloom    NaN        GRASS         POISON      65       70  60
58  Vileplume    NaN        GRASS         POISON      80       85  75
59      Paras    NaN          BUG          GRASS      70       55  35

    Sp.Attack  Sp.Defense  Speed  Total
55         65          75     90    455
56         75          65     30    320
57         85          75     40    395
58        110          90     50    490
59         45          55     25    285
chunk dataframe
        Name           Name2 Primary Type Secondary type  Attack  Defense  HP  \
60  Parasect             NaN          BUG          GRASS      95       80  60
61   Venonat             NaN          BUG         POISON      55       50  60
62  Venomoth             NaN          BUG         POISON      65       60  70
63   Diglett             NaN       GROUND            NaN      55       25  10
64   Diglett  Alolan Diglett       GROUND          STEEL      55       30  10

    Sp.Attack  Sp.Defense  Speed  Total
60         60          80     30    405
61         40          55     45    305
62         90          75     90    450
63         35          45     95    265
64         35          45     90    265
chunk dataframe
       Name            Name2 Primary Type Secondary type  Attack  Defense  HP  \
65  Dugtrio              NaN       GROUND            NaN     100       50  35
66  Dugtrio   Alolan Dugtrio       GROUND          STEEL     100       60  35
67   Meowth              NaN       NORMAL            NaN      45       35  40
68   Meowth    Alolan Meowth         DARK            NaN      35       35  40
69   Meowth  Galarian Meowth        STEEL            NaN      65       55  50

    Sp.Attack  Sp.Defense  Speed  Total
65         50          70    120    425
66         50          70    110    425
67         40          40     90    290
68         50          40     90    290
69         40          40     40    290
chunk dataframe
       Name           Name2 Primary Type  Secondary type  Attack  Defense  HP  \
70  Persian             NaN       NORMAL             NaN      70       60  65
71  Persian  Alolan Persian         DARK             NaN      60       60  65
72  Psyduck             NaN        WATER             NaN      52       48  50
73  Golduck             NaN        WATER             NaN      82       78  80
74   Mankey             NaN     FIGHTING             NaN      80       35  40

    Sp.Attack  Sp.Defense  Speed  Total
70         65          65    115    440
71         75          65    115    440
72         65          50     55    320
73         95          80     85    500
74         35          45     70    305
chunk dataframe
         Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
75   Primeape    NaN     FIGHTING             NaN     105       60  65
76  Growlithe    NaN         FIRE             NaN      70       45  55
77   Arcanine    NaN         FIRE             NaN     110       80  90
78    Poliwag    NaN        WATER             NaN      50       40  40
79  Poliwhirl    NaN        WATER             NaN      65       65  65

    Sp.Attack  Sp.Defense  Speed  Total
75         60          70     95    455
76         70          50     60    350
77        100          80     95    555
78         40          40     90    300
79         50          50     90    385
chunk dataframe
         Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
80  Poliwrath            NaN        WATER       FIGHTING      95       95  90
81       Abra            NaN      PSYCHIC            NaN      20       15  25
82    Kadabra            NaN      PSYCHIC            NaN      35       30  40
83   Alakazam            NaN      PSYCHIC            NaN      50       45  55
84   Alakazam  Mega Alakazam      PSYCHIC            NaN      50       65  55

    Sp.Attack  Sp.Defense  Speed  Total
80         70          90     70    510
81        105          55     90    310
82        120          70    105    400
83        135          95    120    500
84        175         105    150    600
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
85      Machop    NaN     FIGHTING            NaN      80       50  70
86     Machoke    NaN     FIGHTING            NaN     100       70  80
87     Machamp    NaN     FIGHTING            NaN     130       80  90
88  Bellsprout    NaN        GRASS         POISON      75       35  50
89  Weepinbell    NaN        GRASS         POISON      90       50  65

    Sp.Attack  Sp.Defense  Speed  Total
85         35          35     35    305
86         50          60     45    405
87         65          85     55    505
88         70          30     40    300
89         85          45     55    390
chunk dataframe
          Name           Name2 Primary Type Secondary type  Attack  Defense  \
90  Victreebel             NaN        GRASS         POISON     105       65
91   Tentacool             NaN        WATER         POISON      40       35
92  Tentacruel             NaN        WATER         POISON      70       65
93     Geodude             NaN         ROCK         GROUND      80      100
94     Geodude  Alolan Geodude         ROCK       ELECTRIC      80      100

    HP  Sp.Attack  Sp.Defense  Speed  Total
90  80        100          70     70    490
91  40         50         100     70    335
92  80         80         120    100    515
93  40         30          30     20    300
94  40         30          30     20    300
chunk dataframe
        Name            Name2 Primary Type Secondary type  Attack  Defense  \
95  Graveler              NaN         ROCK         GROUND      95      115
96  Graveler  Alolan Graveler         ROCK       ELECTRIC      95      115
97     Golem              NaN         ROCK         GROUND     120      130
98     Golem     Alolan Golem         ROCK       ELECTRIC     120      130
99    Ponyta              NaN         FIRE            NaN      85       55

    HP  Sp.Attack  Sp.Defense  Speed  Total
95  55         45          45     35    390
96  55         45          45     35    390
97  80         55          65     45    495
98  80         55          65     45    495
99  50         65          65     90    410
chunk dataframe
         Name              Name2 Primary Type Secondary type  Attack  Defense  \
100    Ponyta    Galarian Ponyta      PSYCHIC            NaN      85       55
101  Rapidash                NaN         FIRE            NaN     100       70
102  Rapidash  Galarian Rapidash      PSYCHIC          FAIRY     100       70
103  Slowpoke                NaN        WATER        PSYCHIC      65       65
104  Slowpoke  Galarian Slowpoke      PSYCHIC            NaN      65       65

     HP  Sp.Attack  Sp.Defense  Speed  Total
100  50         65          65     90    410
101  65         80          80    105    500
102  65         80          80    105    500
103  90         40          40     15    315
104  90         40          40     15    315
chunk dataframe
          Name             Name2 Primary Type Secondary type  Attack  Defense  \
105    Slowbro               NaN        WATER        PSYCHIC      75      110
106    Slowbro      Mega Slowbro        WATER        PSYCHIC      75      180
107    Slowbro  Galarian Slowbro       POISON        PSYCHIC     100       95
108  Magnemite               NaN     ELECTRIC          STEEL      35       70
109   Magneton               NaN     ELECTRIC          STEEL      60       95

     HP  Sp.Attack  Sp.Defense  Speed  Total
105  95        100          80     30    490
106  95        130          80     30    590
107  95        100          70     30    490
108  25         95          55     45    325
109  50        120          70     70    465
chunk dataframe
           Name                Name2 Primary Type Secondary type  Attack  \
110  Farfetch'd                  NaN       NORMAL         FLYING      90
111  Farfetch'd  Galarian Farfetch'd     FIGHTING            NaN      95
112       Doduo                  NaN       NORMAL         FLYING      85
113      Dodrio                  NaN       NORMAL         FLYING     110
114        Seel                  NaN        WATER            NaN      45

     Defense  HP  Sp.Attack  Sp.Defense  Speed  Total
110       55  52         58          62     60    377
111       55  52         58          62     55    377
112       45  35         35          35     75    310
113       70  60         60          60    110    470
114       55  65         45          70     45    325
chunk dataframe
        Name          Name2 Primary Type Secondary type  Attack  Defense   HP  \
115  Dewgong            NaN        WATER            ICE      70       80   90
116   Grimer            NaN       POISON            NaN      80       50   80
117   Grimer  Alolan Grimer       POISON           DARK      80       50   80
118      Muk            NaN       POISON            NaN     105       75  105
119      Muk     Alolan Muk       POISON           DARK     105       75  105

     Sp.Attack  Sp.Defense  Speed  Total
115         70          95     70    475
116         40          50     25    325
117         40          50     25    325
118         65         100     50    500
119         65         100     50    500
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
120  Shellder    NaN        WATER            NaN      65      100  30
121  Cloyster    NaN        WATER            ICE      95      180  50
122    Gastly    NaN        GHOST         POISON      35       30  30
123   Haunter    NaN        GHOST         POISON      50       45  45
124    Gengar    NaN        GHOST         POISON      65       60  60

     Sp.Attack  Sp.Defense  Speed  Total
120         45          25     40    305
121         85          45     70    525
122        100          35     80    310
123        115          55     95    405
124        130          75    110    500
chunk dataframe
        Name        Name2 Primary Type Secondary type  Attack  Defense  HP  \
125   Gengar  Mega Gengar        GHOST         POISON      65       80  60
126     Onix          NaN         ROCK         GROUND      45      160  35
127  Drowzee          NaN      PSYCHIC            NaN      48       45  60
128    Hypno          NaN      PSYCHIC            NaN      73       70  85
129   Krabby          NaN        WATER            NaN     105       90  30

     Sp.Attack  Sp.Defense  Speed  Total
125        170          95    130    600
126         30          45     70    385
127         43          90     42    328
128         73         115     67    483
129         25          25     50    325
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
130    Kingler    NaN        WATER            NaN     130      115  55
131    Voltorb    NaN     ELECTRIC            NaN      30       50  40
132  Electrode    NaN     ELECTRIC            NaN      50       70  60
133  Exeggcute    NaN        GRASS        PSYCHIC      40       80  60
134  Exeggutor    NaN        GRASS        PSYCHIC      95       85  95

     Sp.Attack  Sp.Defense  Speed  Total
130         50          50     75    475
131         55          55    100    330
132         80          80    150    490
133         60          45     40    325
134        125          75     55    530
chunk dataframe
          Name             Name2 Primary Type Secondary type  Attack  Defense  \
135  Exeggutor  Alolan Exeggutor        GRASS         DRAGON     105       85
136     Cubone               NaN       GROUND            NaN      50       95
137    Marowak               NaN       GROUND            NaN      80      110

249       58  190         33          58     33    405
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
250   Girafarig    NaN       NORMAL        PSYCHIC      80       65   70
251      Pineco    NaN          BUG            NaN      65       90   50
252  Forretress    NaN          BUG          STEEL      90      140   75
253   Dunsparce    NaN       NORMAL            NaN      70       70  100
254      Gligar    NaN       GROUND         FLYING      75      105   65

     Sp.Attack  Sp.Defense  Speed  Total
250         90          65     85    455
251         35          35     15    290
252         60          60     40    465
253         65          65     45    415
254         35          65     85    430
chunk dataframe
         Name         Name2 Primary Type Secondary type  Attack  Defense  HP  \
255   Steelix           NaN        STEEL         GROUND      85      200  75
256   Steelix  Mega Steelix        STEEL         GROUND     125      230  75
257  Snubbull           NaN        FAIRY            NaN      80       50  60
258  Granbull           NaN        FAIRY            NaN     120       75  90
259  Qwilfish           NaN        WATER         POISON      95       85  65

     Sp.Attack  Sp.Defense  Speed  Total
255         55          65     30    510
256         55          95     30    610
257         40          40     30    300
258         60          60     45    450
259         55          55     85    440
chunk dataframe
          Name           Name2 Primary Type Secondary type  Attack  Defense  \
260     Scizor             NaN          BUG          STEEL     130      100
261     Scizor     Mega Scizor          BUG          STEEL     150      140
262    Shuckle             NaN          BUG           ROCK      10      230
263  Heracross             NaN          BUG       FIGHTING     125       75
264  Heracross  Mega Heracross          BUG       FIGHTING     185      115

     HP  Sp.Attack  Sp.Defense  Speed  Total
260  70         55          80     65    500
261  70         65         100     75    600
262  20         10         230      5    505
263  80         40          95     85    500
264  80         40         105     75    600
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
265    Sneasel    NaN         DARK            ICE      95       55  55
266  Teddiursa    NaN       NORMAL            NaN      80       50  60
267   Ursaring    NaN       NORMAL            NaN     130       75  90
268     Slugma    NaN         FIRE            NaN      40       40  40
269   Magcargo    NaN         FIRE           ROCK      50      120  60

     Sp.Attack  Sp.Defense  Speed  Total
265         35          75    115    430
266         50          50     40    330
267         75          75     55    500
268         70          40     20    250
269         90          80     30    430
chunk dataframe
          Name             Name2 Primary Type Secondary type  Attack  Defense  \
270     Swinub               NaN          ICE         GROUND      50       40
271  Piloswine               NaN          ICE         GROUND     100       80
272    Corsola               NaN        WATER           ROCK      55       95
273    Corsola  Galarian Corsola        GHOST            NaN      55      100
274   Remoraid               NaN        WATER            NaN      65       35

      HP  Sp.Attack  Sp.Defense  Speed  Total
270   50         30          30     50    250
271  100         60          60     50    450
272   65         65          95     35    410
273   60         65         100     30    410
274   35         65          35     65    300
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
275  Octillery    NaN        WATER            NaN     105       75  75
276   Delibird    NaN          ICE         FLYING      55       45  45
277    Mantine    NaN        WATER         FLYING      40       70  85
278   Skarmory    NaN        STEEL         FLYING      80      140  65
279   Houndour    NaN         DARK           FIRE      60       30  45

     Sp.Attack  Sp.Defense  Speed  Total
275        105          75     45    480
276         65          45     75    330
277         80         140     70    485
278         40          70     70    465
279         80          50     65    330
chunk dataframe
         Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
280  Houndoom            NaN         DARK           FIRE      90       50  75
281  Houndoom  Mega Houndoom         DARK           FIRE      90       90  75
282   Kingdra            NaN        WATER         DRAGON      95       95  75
283    Phanpy            NaN       GROUND            NaN      60       60  90
284   Donphan            NaN       GROUND            NaN     120      120  90

     Sp.Attack  Sp.Defense  Speed  Total
280        110          80     95    500
281        140          90    115    600
282         95          95     85    540
283         40          40     40    330
284         60          60     50    500
chunk dataframe
          Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
285   Porygon2    NaN       NORMAL             NaN      80       90  85
286   Stantler    NaN       NORMAL             NaN      95       62  73
287   Smeargle    NaN       NORMAL             NaN      20       35  55
288    Tyrogue    NaN     FIGHTING             NaN      35       35  35
289  Hitmontop    NaN     FIGHTING             NaN      95       95  50

     Sp.Attack  Sp.Defense  Speed  Total
285        105          95     60    515
286         85          65     85    465
287         20          45     75    250
288         35          35     35    210
289         35         110     70    455
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
290  Smoochum    NaN          ICE        PSYCHIC      30       15   45
291    Elekid    NaN     ELECTRIC            NaN      63       37   45
292     Magby    NaN         FIRE            NaN      75       37   45
293   Miltank    NaN       NORMAL            NaN      80      105   95
294   Blissey    NaN       NORMAL            NaN      10       10  255

     Sp.Attack  Sp.Defense  Speed  Total
290         85          65     65    305
291         65          55     95    360
292         70          55     83    365
293         40          70    100    490
294         75         135     55    540
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
295    Raikou    NaN     ELECTRIC            NaN      85       75   90
296     Entei    NaN         FIRE            NaN     115       85  115
297   Suicune    NaN        WATER            NaN      75      115  100
298  Larvitar    NaN         ROCK         GROUND      64       50   50
299   Pupitar    NaN         ROCK         GROUND      84       70   70

     Sp.Attack  Sp.Defense  Speed  Total
295        115         100    115    580
296         90          75    100    580
297         90         115     85    580
298         45          50     41    300
299         65          70     51    410
chunk dataframe
          Name           Name2 Primary Type Secondary type  Attack  Defense  \
300  Tyranitar             NaN         ROCK           DARK     134      110
301  Tyranitar  Mega Tyranitar         ROCK           DARK     164      150
302      Lugia             NaN      PSYCHIC         FLYING      90      130
303      Ho-oh             NaN         FIRE         FLYING     130       90
304     Celebi             NaN      PSYCHIC          GRASS     100      100

      HP  Sp.Attack  Sp.Defense  Speed  Total
300  100         95         100     61    600
301  100         95         120     71    700
302  106         90         154    110    680
303  106        110         154     90    680
304  100        100         100    100    600
chunk dataframe
         Name          Name2 Primary Type Secondary type  Attack  Defense  HP  \
305   Treecko            NaN        GRASS            NaN      45       35  40
306   Grovyle            NaN        GRASS            NaN      65       45  50
307  Sceptile            NaN        GRASS            NaN      85       65  70
308  Sceptile  Mega Sceptile        GRASS         DRAGON     110       75  70
309   Torchic            NaN         FIRE            NaN      60       40  45

     Sp.Attack  Sp.Defense  Speed  Total
305         65          55     70    310
306         85          65     95    405
307        105          85    120    530
308        145          85    145    630
309         70          50     45    310
chunk dataframe
          Name          Name2 Primary Type Secondary type  Attack  Defense  \
310  Combusken            NaN         FIRE       FIGHTING      85       60
311   Blaziken            NaN         FIRE       FIGHTING     120       70
312   Blaziken  Mega Blaziken         FIRE       FIGHTING     160       80
313     Mudkip            NaN        WATER            NaN      70       50
314  Marshtomp            NaN        WATER         GROUND      85       70

     HP  Sp.Attack  Sp.Defense  Speed  Total
310  60         85          60     55    405
311  80        110          70     80    530
312  80        130          80    100    630
313  50         50          50     40    310
314  70         60          70     50    405
chunk dataframe
          Name          Name2 Primary Type Secondary type  Attack  Defense  \
315   Swampert            NaN        WATER         GROUND     110       90
316   Swampert  Mega Swampert        WATER         GROUND     150      110
317  Poochyena            NaN         DARK            NaN      55       35
318  Mightyena            NaN         DARK            NaN      90       70
319  Zigzagoon            NaN       NORMAL            NaN      30       41

      HP  Sp.Attack  Sp.Defense  Speed  Total
315  100         85          90     60    535
316  100         95         110     70    635
317   35         30          30     35    220
318   70         60          60     70    420
319   38         30          41     60    240
chunk dataframe
          Name               Name2 Primary Type Secondary type  Attack  \
320  Zigzagoon  Galarian Zigzagoon         DARK         NORMAL      30
321    Linoone                 NaN       NORMAL            NaN      70
322    Linoone    Galarian Linoone         DARK         NORMAL      70
323    Wurmple                 NaN          BUG            NaN      45
324    Silcoon                 NaN          BUG            NaN      35

     Defense  HP  Sp.Attack  Sp.Defense  Speed  Total
320       41  38         30          41     60    240
321       61  78         50          61    100    420
322       61  78         50          61    100    420
323       35  45         20          30     20    195
324       55  50         25          25     15    205
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
325  Beautifly    NaN          BUG         FLYING      70       50  60
326    Cascoon    NaN          BUG            NaN      35       55  50
327     Dustox    NaN          BUG         POISON      50       70  60
328      Lotad    NaN        WATER          GRASS      30       30  40
329     Lombre    NaN        WATER          GRASS      50       50  60

     Sp.Attack  Sp.Defense  Speed  Total
325        100          50     65    395
326         25          25     15    205
327         50          90     65    385
328         40          50     30    220
329         60          70     50    340
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
330  Ludicolo    NaN        WATER          GRASS      70       70  80
331    Seedot    NaN        GRASS            NaN      40       50  40
332   Nuzleaf    NaN        GRASS           DARK      70       40  70
333   Shiftry    NaN        GRASS           DARK     100       60  90
334   Taillow    NaN       NORMAL         FLYING      55       30  40

     Sp.Attack  Sp.Defense  Speed  Total
330         90         100     70    480
331         30          30     30    220
332         60          40     60    340
333         90          60     80    480
334         30          30     85    270
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
335   Swellow    NaN       NORMAL         FLYING      85       60  60
336   Wingull    NaN        WATER         FLYING      30       30  40
337  Pelipper    NaN        WATER         FLYING      50      100  60
338     Ralts    NaN      PSYCHIC          FAIRY      25       25  28
339    Kirlia    NaN      PSYCHIC          FAIRY      35       35  38

     Sp.Attack  Sp.Defense  Speed  Total
335         75          50    125    455
336         55          30     85    270
337         95          70     65    440
338         45          35     40    198
339         65          55     50    278
chunk dataframe
           Name           Name2 Primary Type Secondary type  Attack  Defense  \
340   Gardevoir             NaN      PSYCHIC          FAIRY      65       65
341   Gardevoir  Mega Gardevoir      PSYCHIC          FAIRY      85       65
342     Surskit             NaN          BUG          WATER      30       32
343  Masquerain             NaN          BUG         FLYING      60       62
344   Shroomish             NaN        GRASS            NaN      40       60

     HP  Sp.Attack  Sp.Defense  Speed  Total
340  68        125         115     80    518
341  68        165         135    100    618
342  40         50          52     65    269
343  70        100          82     80    454
344  60         40          60     35    295
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
345   Breloom    NaN        GRASS       FIGHTING     130       80   60
346   Slakoth    NaN       NORMAL            NaN      60       60   60
347  Vigoroth    NaN       NORMAL            NaN      80       80   80
348   Slaking    NaN       NORMAL            NaN     160      100  150
349   Nincada    NaN          BUG         GROUND      45       90   31

     Sp.Attack  Sp.Defense  Speed  Total
345         60          60     70    460
346         35          35     30    280
347         55          55     90    440
348         95          65    100    670
349         30          30     40    266
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
350   Ninjask    NaN          BUG         FLYING      90       45   61
351  Shedinja    NaN          BUG          GHOST      90       45    1
352   Whismur    NaN       NORMAL            NaN      51       23   64
353   Loudred    NaN       NORMAL            NaN      71       43   84
354   Exploud    NaN       NORMAL            NaN      91       63  104

     Sp.Attack  Sp.Defense  Speed  Total
350         50          50    160    456
351         30          30     40    236
352         51          23     28    240
353         71          43     48    360
354         91          73     68    490
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
355  Makuhita    NaN     FIGHTING            NaN      60       30   72
356  Hariyama    NaN     FIGHTING            NaN     120       60  144
357   Azurill    NaN       NORMAL          FAIRY      20       40   50
358  Nosepass    NaN         ROCK            NaN      45      135   30
359    Skitty    NaN       NORMAL            NaN      45       45   50

     Sp.Attack  Sp.Defense  Speed  Total
355         20          30     25    237
356         40          60     50    474
357         20          40     20    190
358         45          90     30    375
359         35          35     50    260
chunk dataframe
         Name         Name2 Primary Type Secondary type  Attack  Defense  HP  \
360  Delcatty           NaN       NORMAL            NaN      65       65  70
361   Sableye           NaN         DARK          GHOST      75       75  50
362   Sableye  Mega Sableye         DARK          GHOST      85      125  50
363    Mawile           NaN        STEEL          FAIRY      85       85  50
364    Mawile   Mega Mawile        STEEL          FAIRY     105      125  50

     Sp.Attack  Sp.Defense  Speed  Total
360         55          55     90    400
361         65          65     50    380
362         85         115     20    480
363         55          55     50    380
364         55          95     50    480
chunk dataframe
         Name        Name2 Primary Type Secondary type  Attack  Defense  HP  \
365      Aron          NaN        STEEL           ROCK      70      100  50
366    Lairon          NaN        STEEL           ROCK      90      140  60
367    Aggron          NaN        STEEL           ROCK     110      180  70
368    Aggron  Mega Aggron        STEEL            NaN     140      230  70
369  Meditite          NaN     FIGHTING        PSYCHIC      40       55  30

     Sp.Attack  Sp.Defense  Speed  Total
365         40          40     30    330
366         50          50     40    430
367         60          60     50    530
368         60          80     50    630
369         40          55     60    280
chunk dataframe
          Name           Name2 Primary Type Secondary type  Attack  Defense  \
370   Medicham             NaN     FIGHTING        PSYCHIC      60       75
371   Medicham   Mega Medicham     FIGHTING        PSYCHIC     100       85
372  Electrike             NaN     ELECTRIC            NaN      45       40
373  Manectric             NaN     ELECTRIC            NaN      75       60
374  Manectric  Mega Manectric     ELECTRIC            NaN      75       80

     HP  Sp.Attack  Sp.Defense  Speed  Total
370  60         60          75     80    410
371  60         80          85    100    510
372  40         65          40     65    295
373  70        105          60    105    475
374  70        135          80    135    575
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
375    Plusle    NaN     ELECTRIC            NaN      50       40  60
376     Minun    NaN     ELECTRIC            NaN      40       50  60
377   Volbeat    NaN          BUG            NaN      73       75  65
378  Illumise    NaN          BUG            NaN      47       75  65
379   Roselia    NaN        GRASS         POISON      60       45  50

     Sp.Attack  Sp.Defense  Speed  Total
375         85          75     95    405
376         75          85     95    405
377         47          85     85    430
378         73          85     85    430
379        100          80     65    400
chunk dataframe
         Name          Name2 Primary Type Secondary type  Attack  Defense  \
380    Gulpin            NaN       POISON            NaN      43       53
381    Swalot            NaN       POISON            NaN      73       83
382  Carvanha            NaN        WATER           DARK      90       20
383  Sharpedo            NaN        WATER           DARK     120       40
384  Sharpedo  Mega Sharpedo        WATER           DARK     140       70

      HP  Sp.Attack  Sp.Defense  Speed  Total
380   70         43          53     40    302
381  100         73          83     55    467
382   45         65          20     65    305
383   70         95          40     95    460
384   70        110          65    105    560
chunk dataframe
         Name          Name2 Primary Type Secondary type  Attack  Defense  \
385   Wailmer            NaN        WATER            NaN      70       35
386   Wailord            NaN        WATER            NaN      90       45
387     Numel            NaN         FIRE         GROUND      60       40
388  Camerupt            NaN         FIRE         GROUND     100       70
389  Camerupt  Mega Camerupt         FIRE         GROUND     120      100

      HP  Sp.Attack  Sp.Defense  Speed  Total

chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
560    Glaceon    NaN          ICE            NaN      60      110   65
561    Gliscor    NaN       GROUND         FLYING      95      125   75
562  Mamoswine    NaN          ICE         GROUND     130       80  110
563  Porygon-Z    NaN       NORMAL            NaN      80       70   85
564    Gallade    NaN      PSYCHIC       FIGHTING     125       65   68

     Sp.Attack  Sp.Defense  Speed  Total
560        130          95     65    525
561         45          75     95    510
562         70          60     80    530
563        135          75     90    535
564         65         115     80    518
chunk dataframe
          Name         Name2 Primary Type Secondary type  Attack  Defense  HP  \
565    Gallade  Mega Gallade      PSYCHIC       FIGHTING     165       95  68
566  Probopass           NaN         ROCK          STEEL      55      145  60
567   Dusknoir           NaN        GHOST            NaN     100      135  45
568   Froslass           NaN          ICE          GHOST      80       70  70
569      Rotom           NaN     ELECTRIC          GHOST      50       77  50

     Sp.Attack  Sp.Defense  Speed  Total
565         65         115    110    618
566         75         150     40    525
567         65         135     45    525
568         80          70    110    480
569         95          77     91    440
chunk dataframe
      Name        Name2 Primary Type Secondary type  Attack  Defense  HP  \
570  Rotom   Heat Rotom     ELECTRIC           FIRE      65      107  50
571  Rotom   Wash Rotom     ELECTRIC          WATER      65      107  50
572  Rotom  Frost Rotom     ELECTRIC            ICE      65      107  50
573  Rotom    Fan Rotom     ELECTRIC         FLYING      65      107  50
574  Rotom    Mow Rotom     ELECTRIC          GRASS      65      107  50

     Sp.Attack  Sp.Defense  Speed  Total
570        105         107     86    520
571        105         107     86    520
572        105         107     86    520
573        105         107     86    520
574        105         107     86    520
chunk dataframe
        Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
575     Uxie    NaN      PSYCHIC            NaN      75      130   75
576  Mesprit    NaN      PSYCHIC            NaN     105      105   80
577    Azelf    NaN      PSYCHIC            NaN     125       70   75
578   Dialga    NaN        STEEL         DRAGON     120      120  100
579   Palkia    NaN        WATER         DRAGON     120      100   90

     Sp.Attack  Sp.Defense  Speed  Total
575         75         130     95    580
576        105         105     80    580
577        125          70    115    580
578        150         100     90    680
579        150         120    100    680
chunk dataframe
          Name          Name2 Primary Type Secondary type  Attack  Defense  \
580    Heatran            NaN         FIRE          STEEL      90      106
581  Regigigas            NaN       NORMAL            NaN     160      110
582   Giratina  Altered Forme        GHOST         DRAGON     100      120
583   Giratina   Origin Forme        GHOST         DRAGON     120      100
584  Cresselia            NaN      PSYCHIC            NaN      70      120

      HP  Sp.Attack  Sp.Defense  Speed  Total
580   91        130         106     77    600
581  110         80         110    100    670
582  150        100         120     90    680
583  150        120         100     90    680
584  120         75         130     85    600
chunk dataframe
        Name       Name2 Primary Type Secondary type  Attack  Defense   HP  \
585   Phione         NaN        WATER            NaN      80       80   80
586  Manaphy         NaN        WATER            NaN     100      100  100
587  Darkrai         NaN         DARK            NaN      90       90   70
588  Shaymin  Land Forme        GRASS            NaN     100      100  100
589  Shaymin   Sky Forme        GRASS         FLYING     103       75  100

     Sp.Attack  Sp.Defense  Speed  Total
585         80          80     80    480
586        100         100    100    600
587        135          90    125    600
588        100         100    100    600
589        120          75    127    600
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
590     Arceus    NaN       NORMAL            NaN     120      120  120
591    Victini    NaN      PSYCHIC           FIRE     100      100  100
592      Snivy    NaN        GRASS            NaN      45       55   45
593    Servine    NaN        GRASS            NaN      60       75   60
594  Serperior    NaN        GRASS            NaN      75       95   75

     Sp.Attack  Sp.Defense  Speed  Total
590        120         120    120    720
591        100         100    100    600
592         45          55     63    308
593         60          75     83    413
594         75          95    113    528
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
595     Tepig    NaN         FIRE            NaN      63       45   65
596   Pignite    NaN         FIRE       FIGHTING      93       55   90
597    Emboar    NaN         FIRE       FIGHTING     123       65  110
598  Oshawott    NaN        WATER            NaN      55       45   55
599    Dewott    NaN        WATER            NaN      75       60   75

     Sp.Attack  Sp.Defense  Speed  Total
595         45          45     45    308
596         70          55     55    418
597        100          65     65    528
598         63          45     45    308
599         83          60     60    413
chunk dataframe
         Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
600  Samurott    NaN        WATER             NaN     100       85  95
601    Patrat    NaN       NORMAL             NaN      55       39  45
602   Watchog    NaN       NORMAL             NaN      85       69  60
603  Lillipup    NaN       NORMAL             NaN      60       45  45
604   Herdier    NaN       NORMAL             NaN      80       65  65

     Sp.Attack  Sp.Defense  Speed  Total
600        108          70     70    528
601         35          39     42    255
602         60          69     77    420
603         25          45     55    275
604         35          65     60    370
chunk dataframe
          Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
605  Stoutland    NaN       NORMAL             NaN     110       90  85
606   Purrloin    NaN         DARK             NaN      50       37  41
607    Liepard    NaN         DARK             NaN      88       50  64
608    Pansage    NaN        GRASS             NaN      53       48  50
609   Simisage    NaN        GRASS             NaN      98       63  75

     Sp.Attack  Sp.Defense  Speed  Total
605         45          90     80    500
606         50          37     66    281
607         88          50    106    446
608         53          48     64    316
609         98          63    101    498
chunk dataframe
         Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
610   Pansear    NaN         FIRE             NaN      53       48  50
611  Simisear    NaN         FIRE             NaN      98       63  75
612   Panpour    NaN        WATER             NaN      53       48  50
613  Simipour    NaN        WATER             NaN      98       63  75
614     Munna    NaN      PSYCHIC             NaN      25       45  76

     Sp.Attack  Sp.Defense  Speed  Total
610         53          48     64    316
611         98          63    101    498
612         53          48     64    316
613         98          63    101    498
614         67          55     24    292
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
615   Musharna    NaN      PSYCHIC            NaN      55       85  116
616     Pidove    NaN       NORMAL         FLYING      55       50   50
617  Tranquill    NaN       NORMAL         FLYING      77       62   62
618   Unfezant    NaN       NORMAL         FLYING     115       80   80
619    Blitzle    NaN     ELECTRIC            NaN      60       32   45

     Sp.Attack  Sp.Defense  Speed  Total
615        107          95     29    487
616         36          30     43    264
617         50          42     65    358
618         65          55     93    488
619         50          32     76    295
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
620   Zebstrika    NaN     ELECTRIC            NaN     100       63  75
621  Roggenrola    NaN         ROCK            NaN      75       85  55
622     Boldore    NaN         ROCK            NaN     105      105  70
623    Gigalith    NaN         ROCK            NaN     135      130  85
624      Woobat    NaN      PSYCHIC         FLYING      45       43  65

     Sp.Attack  Sp.Defense  Speed  Total
620         80          63    116    497
621         25          25     15    280
622         50          40     20    390
623         60          80     25    515
624         55          43     72    323
chunk dataframe
          Name        Name2 Primary Type Secondary type  Attack  Defense   HP  \
625    Swoobat          NaN      PSYCHIC         FLYING      57       55   67
626    Drilbur          NaN       GROUND            NaN      85       40   60
627  Excadrill          NaN       GROUND          STEEL     135       60  110
628     Audino          NaN       NORMAL            NaN      60       86  103
629     Audino  Mega Audino       NORMAL          FAIRY      60      126  103

     Sp.Attack  Sp.Defense  Speed  Total
625         77          55    114    425
626         30          45     68    328
627         50          65     88    508
628         60          86     50    445
629         80         126     50    545
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
630     Timburr    NaN     FIGHTING            NaN      80       55   75
631     Gurdurr    NaN     FIGHTING            NaN     105       85   85
632  Conkeldurr    NaN     FIGHTING            NaN     140       95  105
633     Tympole    NaN        WATER            NaN      50       40   50
634   Palpitoad    NaN        WATER         GROUND      65       55   75

     Sp.Attack  Sp.Defense  Speed  Total
630         25          35     35    305
631         40          50     40    405
632         55          65     45    505
633         50          40     64    294
634         65          55     69    384
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
635  Seismitoad    NaN        WATER         GROUND      95       75  105
636       Throh    NaN     FIGHTING            NaN     100       85  120
637        Sawk    NaN     FIGHTING            NaN     125       75   75
638    Sewaddle    NaN          BUG          GRASS      53       70   45
639    Swadloon    NaN          BUG          GRASS      63       90   55

     Sp.Attack  Sp.Defense  Speed  Total
635         85          75     74    509
636         30          85     45    465
637         30          75     85    465
638         40          60     42    310
639         50          80     42    380
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
640    Leavanny    NaN          BUG          GRASS     103       80  75
641    Venipede    NaN          BUG         POISON      45       59  30
642  Whirlipede    NaN          BUG         POISON      55       99  40
643   Scolipede    NaN          BUG         POISON     100       89  60
644    Cottonee    NaN        GRASS          FAIRY      27       60  40

     Sp.Attack  Sp.Defense  Speed  Total
640         70          80     92    500
641         30          39     57    260
642         40          79     47    360
643         55          69    112    485
644         37          50     66    280
chunk dataframe
           Name              Name2 Primary Type Secondary type  Attack  \
645  Whimsicott                NaN        GRASS          FAIRY      67
646     Petilil                NaN        GRASS            NaN      35
647   Lilligant                NaN        GRASS            NaN      60
648    Basculin   Red-Striped Form        WATER            NaN      92
649    Basculin  Blue-Striped Form        WATER            NaN      92

     Defense  HP  Sp.Attack  Sp.Defense  Speed  Total
645       85  60         77          75    116    480
646       50  45         70          50     30    280
647       75  70        110          75     90    480
648       65  70         80          55     98    460
649       65  70         80          55     98    460
chunk dataframe
           Name              Name2 Primary Type Secondary type  Attack  \
650     Sandile                NaN       GROUND           DARK      72
651    Krokorok                NaN       GROUND           DARK      82
652  Krookodile                NaN       GROUND           DARK     117
653    Darumaka                NaN         FIRE            NaN      90
654    Darumaka  Galarian Darumaka          ICE            NaN      90

     Defense  HP  Sp.Attack  Sp.Defense  Speed  Total
650       35  50         35          35     65    292
651       45  60         45          45     74    351
652       80  95         65          70     92    519
653       45  70         15          45     50    315
654       45  70         15          45     50    315
chunk dataframe
           Name                   Name2 Primary Type Secondary type  Attack  \
655  Darmanitan           Standard Mode         FIRE            NaN     140
656  Darmanitan                Zen Mode         FIRE        PSYCHIC      30
657  Darmanitan  Galarian Standard Mode          ICE            NaN     140
658  Darmanitan       Galarian Zen Mode          ICE           FIRE     160
659    Maractus                     NaN        GRASS            NaN      86

     Defense   HP  Sp.Attack  Sp.Defense  Speed  Total
655       55  105         30          55     95    480
656      105  105        140         105     55    540
657       55  105         30          55     95    480
658       55  105         30          55    135    540
659       67   75        106          67     60    461
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
660   Dwebble    NaN          BUG           ROCK      65       85  50
661   Crustle    NaN          BUG           ROCK     105      125  70
662   Scraggy    NaN         DARK       FIGHTING      75       70  50
663   Scrafty    NaN         DARK       FIGHTING      90      115  65
664  Sigilyph    NaN      PSYCHIC         FLYING      58       80  72

     Sp.Attack  Sp.Defense  Speed  Total
660         35          35     55    325
661         65          75     45    485
662         35          70     48    348
663         45         115     58    488
664        103          80     97    490
chunk dataframe
           Name            Name2 Primary Type Secondary type  Attack  Defense  \
665      Yamask              NaN        GHOST            NaN      30       85
666      Yamask  Galarian Yamask       GROUND          GHOST      55       85
667  Cofagrigus              NaN        GHOST            NaN      50      145
668    Tirtouga              NaN        WATER           ROCK      78      103
669  Carracosta              NaN        WATER           ROCK     108      133

     HP  Sp.Attack  Sp.Defense  Speed  Total
665  38         55          65     30    303
666  38         30          65     30    303
667  58         95         105     30    483
668  54         53          45     22    355
669  74         83          65     32    495
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
670    Archen    NaN         ROCK         FLYING     112       45  55
671  Archeops    NaN         ROCK         FLYING     140       65  75
672  Trubbish    NaN       POISON            NaN      50       62  50
673  Garbodor    NaN       POISON            NaN      95       82  80
674     Zorua    NaN         DARK            NaN      65       40  40

     Sp.Attack  Sp.Defense  Speed  Total
670         74          45     70    401
671        112          65    110    567
672         40          62     65    329
673         60          82     75    474
674         80          40     65    330
chunk dataframe
          Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
675    Zoroark    NaN         DARK             NaN     105       60  60
676   Minccino    NaN       NORMAL             NaN      50       40  55
677   Cinccino    NaN       NORMAL             NaN      95       60  75
678    Gothita    NaN      PSYCHIC             NaN      30       50  45
679  Gothorita    NaN      PSYCHIC             NaN      45       70  60

     Sp.Attack  Sp.Defense  Speed  Total
675        120          60    105    510
676         40          40     75    300
677         65          60    115    470
678         55          65     45    290
679         75          85     55    390
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
680  Gothitelle    NaN      PSYCHIC            NaN      55       95   70
681     Solosis    NaN      PSYCHIC            NaN      30       40   45
682     Duosion    NaN      PSYCHIC            NaN      40       50   65
683   Reuniclus    NaN      PSYCHIC            NaN      65       75  110
684    Ducklett    NaN        WATER         FLYING      44       50   62

     Sp.Attack  Sp.Defense  Speed  Total
680         95         110     65    490
681        105          50     20    290
682        125          60     30    370
683        125          85     30    490
684         44          50     55    305
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
685     Swanna    NaN        WATER         FLYING      87       63  75
686  Vanillite    NaN          ICE            NaN      50       50  36
687  Vanillish    NaN          ICE            NaN      65       65  51
688  Vanilluxe    NaN          ICE            NaN      95       85  71
689   Deerling    NaN       NORMAL          GRASS      60       50  60

     Sp.Attack  Sp.Defense  Speed  Total
685         87          63     98    473
686         65          60     44    305
687         80          75     59    395
688        110          95     79    535
689         40          50     75    335
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
690    Sawsbuck    NaN       NORMAL          GRASS     100       70  80
691      Emolga    NaN     ELECTRIC         FLYING      75       60  55
692  Karrablast    NaN          BUG            NaN      75       45  50
693  Escavalier    NaN          BUG          STEEL     135      105  70
694     Foongus    NaN        GRASS         POISON      55       45  69

     Sp.Attack  Sp.Defense  Speed  Total
690         60          70     95    475
691         75          60    103    428
692         40          45     60    315
693         60         105     20    495
694         55          55     15    294
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
695  Amoonguss    NaN        GRASS         POISON      85       70  114
696   Frillish    NaN        WATER          GHOST      40       50   55
697  Jellicent    NaN        WATER          GHOST      60       70  100
698  Alomomola    NaN        WATER            NaN      75       80  165
699     Joltik    NaN          BUG       ELECTRIC      47       50   50

     Sp.Attack  Sp.Defense  Speed  Total
695         85          80     30    464
696         65          85     40    335
697         85         105     60    480
698         40          45     65    470
699         57          50     65    319
chunk dataframe

889         71          40     77    320
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
890   Salazzle    NaN       POISON           FIRE      64       60   68
891    Stufful    NaN       NORMAL       FIGHTING      75       50   70
892     Bewear    NaN       NORMAL       FIGHTING     125       80  120
893  Bounsweet    NaN        GRASS            NaN      30       38   42
894    Steenee    NaN        GRASS            NaN      40       48   52

     Sp.Attack  Sp.Defense  Speed  Total
890        111          60    117    480
891         45          50     50    340
892         55          60     60    500
893         30          38     32    210
894         40          48     62    290
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
895   Tsareena    NaN        GRASS            NaN     120       98   72
896     Comfey    NaN        FAIRY            NaN      52       90   51
897   Oranguru    NaN       NORMAL        PSYCHIC      60       80   90
898  Passimian    NaN     FIGHTING            NaN     120       90  100
899     Wimpod    NaN          BUG          WATER      35       40   25

     Sp.Attack  Sp.Defense  Speed  Total
895         50          98     72    510
896         82         110    100    485
897         90         110     60    490
898         40          60     80    490
899         20          30     80    230
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
900   Golisopod    NaN          BUG          WATER     125      140  75
901   Sandygast    NaN        GHOST         GROUND      55       80  55
902   Palossand    NaN        GHOST         GROUND      75      110  85
903   Pyukumuku    NaN        WATER            NaN      60      130  55
904  Type: Null    NaN       NORMAL            NaN      95       95  95

     Sp.Attack  Sp.Defense  Speed  Total
900         60          90     40    530
901         70          45     15    320
902        100          75     35    480
903         30         130      5    410
904         95          95     59    534
chunk dataframe
           Name        Name2 Primary Type Secondary type  Attack  Defense  HP  \
905    Silvally          NaN       NORMAL            NaN      95       95  95
906      Minior  Meteor Form         ROCK         FLYING      60      100  60
907      Minior    Core Form         ROCK         FLYING     100       60  60
908      Komala          NaN       NORMAL            NaN     115       65  65
909  Turtonator          NaN         FIRE         DRAGON      78      135  60

     Sp.Attack  Sp.Defense  Speed  Total
905         95          95     95    570
906         60         100     60    440
907        100          60    120    500
908         75          95     65    480
909         91          85     36    485
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
910  Togedemaru    NaN     ELECTRIC          STEEL      98       63  65
911     Mimikyu    NaN        GHOST          FAIRY      90       80  55
912     Bruxish    NaN        WATER        PSYCHIC     105       70  68
913      Drampa    NaN       NORMAL         DRAGON      60       85  78
914    Dhelmise    NaN        GHOST          GRASS     131      100  70

     Sp.Attack  Sp.Defense  Speed  Total
910         40          73     96    435
911         50         105     96    476
912         70          70     92    475
913        135          91     36    485
914         86          90     40    517
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
915   Jangmo-o    NaN       DRAGON            NaN      55       65  45
916   Hakamo-o    NaN       DRAGON       FIGHTING      75       90  55
917    Kommo-o    NaN       DRAGON       FIGHTING     110      125  75
918  Tapu Koko    NaN     ELECTRIC          FAIRY     115       85  70
919  Tapu Lele    NaN      PSYCHIC          FAIRY      85       75  70

     Sp.Attack  Sp.Defense  Speed  Total
915         45          45     45    300
916         65          70     65    420
917        100         105     85    600
918         95          75    130    570
919        130         115     95    570
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
920  Tapu Bulu    NaN        GRASS          FAIRY     130      115   70
921  Tapu Fini    NaN        WATER          FAIRY      75      115   70
922     Cosmog    NaN      PSYCHIC            NaN      29       31   43
923    Cosmoem    NaN      PSYCHIC            NaN      29      131   43
924   Solgaleo    NaN      PSYCHIC          STEEL     137      107  137

     Sp.Attack  Sp.Defense  Speed  Total
920         85          95     75    570
921         95         130     85    570
922         29          31     37    200
923         29         131     37    400
924        113          89     97    680
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
925     Lunala    NaN      PSYCHIC          GHOST     113       89  137
926   Nihilego    NaN         ROCK         POISON      53       47  109
927   Buzzwole    NaN          BUG       FIGHTING     139      139  107
928  Pheromosa    NaN          BUG       FIGHTING     137       37   71
929  Xurkitree    NaN     ELECTRIC            NaN      89       71   83

     Sp.Attack  Sp.Defense  Speed  Total
925        137         107     97    680
926        127         131    103    570
927         53          53     79    570
928        137          37    151    570
929        173          71     83    570
chunk dataframe
           Name               Name2 Primary Type Secondary type  Attack  \
930  Celesteela                 NaN        STEEL         FLYING     101
931     Kartana                 NaN        GRASS          STEEL     181
932    Guzzlord                 NaN         DARK         DRAGON     101
933    Necrozma                 NaN      PSYCHIC            NaN     107
934    Necrozma  Dusk Mane Necrozma      PSYCHIC          STEEL     157

     Defense   HP  Sp.Attack  Sp.Defense  Speed  Total
930      103   97        107         101     61    570
931      131   59         59          31    109    570
932       53  223         97          53     43    570
933      101   97        127          89     79    600
934      127   97        113         109     77    680
chunk dataframe
          Name                Name2 Primary Type Secondary type  Attack  \
935   Necrozma  Dawn Wings Necrozma      PSYCHIC          GHOST     113
936   Necrozma       Ultra Necrozma      PSYCHIC         DRAGON     167
937   Magearna                  NaN        STEEL          FAIRY      95
938  Marshadow                  NaN     FIGHTING          GHOST     125
939    Poipole                  NaN       POISON            NaN      73

     Defense  HP  Sp.Attack  Sp.Defense  Speed  Total
935      109  97        157         127     77    680
936       97  97        167          97    129    754
937      115  80        130         115     65    600
938       80  90         90          90    125    600
939       67  67         73          67     73    420
chunk dataframe
            Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
940    Naganadel    NaN       POISON         DRAGON      73       73  73
941    Stakataka    NaN         ROCK          STEEL     131      211  61
942  Blacephalon    NaN         FIRE          GHOST     127       53  53
943      Zeraora    NaN     ELECTRIC            NaN     112       75  88
944       Meltan    NaN        STEEL            NaN      65       65  46

     Sp.Attack  Sp.Defense  Speed  Total
940        127          73    121    540
941         53         101     13    570
942        151          79    107    570
943        102          80    143    600
944         55          35     34    300
chunk dataframe
          Name  Name2 Primary Type  Secondary type  Attack  Defense   HP  \
945   Melmetal    NaN        STEEL             NaN     143      143  135
946    Grookey    NaN        GRASS             NaN      65       50   50
947   Thwackey    NaN        GRASS             NaN      85       70   70
948  Rillaboom    NaN        GRASS             NaN     125       90  100
949  Scorbunny    NaN         FIRE             NaN      71       40   50

     Sp.Attack  Sp.Defense  Speed  Total
945         80          65     34    600
946         40          40     65    310
947         55          60     80    420
948         60          70     85    530
949         40          40     69    310
chunk dataframe
          Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
950     Raboot    NaN         FIRE             NaN      86       60  65
951  Cinderace    NaN         FIRE             NaN     116       75  80
952     Sobble    NaN        WATER             NaN      40       40  50
953   Drizzile    NaN        WATER             NaN      60       55  65
954   Inteleon    NaN        WATER             NaN      85       65  70

     Sp.Attack  Sp.Defense  Speed  Total
950         55          60     94    420
951         65          75    119    530
952         70          40     70    310
953         95          55     90    420
954        125          65    120    530
chunk dataframe
            Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
955      Skwovet    NaN       NORMAL            NaN      55       55   70
956     Greedent    NaN       NORMAL            NaN      95       95  120
957     Rookidee    NaN       FLYING            NaN      47       35   38
958  Corvisquire    NaN       FLYING            NaN      67       55   68
959  Corviknight    NaN       FLYING          STEEL      87      105   98

     Sp.Attack  Sp.Defense  Speed  Total
955         35          35     25    275
956         55          75     20    460
957         33          35     57    245
958         43          55     77    365
959         53          85     67    495
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
960   Blipbug    NaN          BUG            NaN      20       20  25
961   Dottler    NaN          BUG        PSYCHIC      35       80  50
962  Orbeetle    NaN          BUG        PSYCHIC      45      110  60
963    Nickit    NaN         DARK            NaN      28       28  40
964   Thievul    NaN         DARK            NaN      58       58  70

     Sp.Attack  Sp.Defense  Speed  Total
960         25          45     45    180
961         50          90     30    335
962         80         120     90    505
963         47          52     50    245
964         87          92     90    455
chunk dataframe
           Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
965  Gossifleur    NaN        GRASS             NaN      40       60  40
966    Eldegoss    NaN        GRASS             NaN      50       90  60
967      Wooloo    NaN       NORMAL             NaN      40       55  42
968     Dubwool    NaN       NORMAL             NaN      80      100  72
969     Chewtle    NaN        WATER             NaN      64       50  50

     Sp.Attack  Sp.Defense  Speed  Total
965         40          60     10    250
966         80         120     60    460
967         40          45     48    270
968         60          90     88    490
969         38          38     44    284
chunk dataframe
         Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
970   Drednaw    NaN        WATER           ROCK     115       90  90
971    Yamper    NaN     ELECTRIC            NaN      45       50  59
972   Boltund    NaN     ELECTRIC            NaN      90       60  69
973  Rolycoly    NaN         ROCK            NaN      40       50  30
974    Carkol    NaN         ROCK           FIRE      60       90  80

     Sp.Attack  Sp.Defense  Speed  Total
970         48          68     74    485
971         40          50     26    270
972         90          60    121    490
973         40          50     30    240
974         60          70     50    410
chunk dataframe
          Name  Name2 Primary Type Secondary type  Attack  Defense   HP  \
975  Coalossal    NaN         ROCK           FIRE      80      120  110
976     Applin    NaN        GRASS         DRAGON      40       80   40
977    Flapple    NaN        GRASS         DRAGON     110       80   70
978   Appletun    NaN        GRASS         DRAGON      85       80  110
979  Silicobra    NaN       GROUND            NaN      57       75   52

     Sp.Attack  Sp.Defense  Speed  Total
975         80          90     30    510
976         40          40     20    260
977         95          60     70    485
978        100          80     30    485
979         35          50     46    315
chunk dataframe
            Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
980   Sandaconda    NaN       GROUND            NaN     107      125  72
981    Cramorant    NaN       FLYING          WATER      85       55  70
982     Arrokuda    NaN        WATER            NaN      63       40  41
983  Barraskewda    NaN        WATER            NaN     123       60  61
984        Toxel    NaN     ELECTRIC         POISON      38       35  40

     Sp.Attack  Sp.Defense  Speed  Total
980         65          70     71    510
981         85          95     85    475
982         40          30     66    280
983         60          50    136    490
984         54          35     40    242
chunk dataframe
            Name         Name2 Primary Type Secondary type  Attack  Defense  \
985   Toxtricity  Low Key Form     ELECTRIC         POISON      98       70
986   Toxtricity    Amped Form     ELECTRIC         POISON      98       70
987   Sizzlipede           NaN         FIRE            BUG      65       45
988  Centiskorch           NaN         FIRE            BUG     115       65
989    Clobbopus           NaN     FIGHTING            NaN      68       60

      HP  Sp.Attack  Sp.Defense  Speed  Total
985   75        114          70     75    502
986   75        114          70     75    502
987   50         50          50     45    305
988  100         90          90     65    525
989   50         50          50     32    310
chunk dataframe
            Name  Name2 Primary Type  Secondary type  Attack  Defense  HP  \
990    Grapploct    NaN     FIGHTING             NaN     118       90  80
991     Sinistea    NaN        GHOST             NaN      45       45  40
992  Polteageist    NaN        GHOST             NaN      65       65  60
993      Hatenna    NaN      PSYCHIC             NaN      30       45  42
994      Hattrem    NaN      PSYCHIC             NaN      40       65  57

     Sp.Attack  Sp.Defense  Speed  Total
990         70          80     42    480
991         74          54     50    308
992        134         114     70    508
993         56          53     39    265
994         86          73     49    370
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
995   Hatterene    NaN      PSYCHIC          FAIRY      90       95  57
996    Impidimp    NaN         DARK          FAIRY      45       30  45
997     Morgrem    NaN         DARK          FAIRY      60       45  65
998  Grimmsnarl    NaN         DARK          FAIRY     120       65  95
999   Obstagoon    NaN         DARK         NORMAL      90      101  93

     Sp.Attack  Sp.Defense  Speed  Total
995        136         103     29    510
996         55          40     50    265
997         75          55     70    370
998         95          75     60    510
999         60          81     95    520
chunk dataframe
            Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
1000  Perrserker    NaN        STEEL            NaN     110      100  70
1001     Cursola    NaN        GHOST            NaN      95       50  60
1002  Sirfetch'd    NaN     FIGHTING            NaN     135       95  62
1003    Mr. Rime    NaN          ICE        PSYCHIC      85       75  80
1004   Runerigus    NaN       GROUND          GHOST      95      145  58

      Sp.Attack  Sp.Defense  Speed  Total
1000         50          60     50    440
1001        145         130     30    510
1002         68          82     65    507
1003        110         100     70    520
1004         50         105     30    483
chunk dataframe
            Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
1005     Milcery    NaN        FAIRY            NaN      40       40  45
1006    Alcremie    NaN        FAIRY            NaN      60       75  65
1007     Falinks    NaN     FIGHTING            NaN     100      100  65
1008  Pincurchin    NaN     ELECTRIC            NaN     101       95  48
1009        Snom    NaN          ICE            BUG      25       35  30

      Sp.Attack  Sp.Defense  Speed  Total
1005         50          61     34    270
1006        110         121     64    495
1007         70          60     75    470
1008         91          85     15    435
1009         45          30     20    185
chunk dataframe
             Name       Name2 Primary Type Secondary type  Attack  Defense  \
1010     Frosmoth         NaN          ICE            BUG      65       60
1011  Stonjourner         NaN         ROCK            NaN     125      135
1012       Eiscue    Ice Face          ICE            NaN      80      110
1013       Eiscue  Noice Face          ICE            NaN      80       70
1014     Indeedee        Male      PSYCHIC         NORMAL      65       55

       HP  Sp.Attack  Sp.Defense  Speed  Total
1010   70        125          90     65    475
1011  100         20          20     70    470
1012   75         65          90     50    470
1013   75         65          50    130    470
1014   60        105          95     95    475
chunk dataframe
            Name            Name2 Primary Type Secondary type  Attack  \
1015    Indeedee           Female      PSYCHIC         NORMAL      55
1016     Morpeko  Full Belly Mode     ELECTRIC           DARK      95
1017     Morpeko      Hangry Mode     ELECTRIC           DARK      95
1018      Cufant              NaN        STEEL            NaN      80
1019  Copperajah              NaN        STEEL            NaN     130

      Defense   HP  Sp.Attack  Sp.Defense  Speed  Total
1015       65   70         95         105     85    475
1016       58   58         70          58     97    436
1017       58   58         70          58     97    436
1018       49   72         40          49     40    330
1019       69  122         80          69     30    500
chunk dataframe
           Name  Name2 Primary Type Secondary type  Attack  Defense  HP  \
1020  Dracozolt    NaN     ELECTRIC         DRAGON     100       90  90
1021  Arctozolt    NaN     ELECTRIC            ICE     100       90  90
1022  Dracovish    NaN        WATER         DRAGON      90      100  90
1023  Arctovish    NaN        WATER            ICE      90      100  90
1024  Duraludon    NaN        STEEL         DRAGON      95      115  70

      Sp.Attack  Sp.Defense  Speed  Total
1020         80          70     75    505
1021         90          80     55    505
1022         70          80     75    505
1023         80          90     55    505
1024        120          50     85    535
chunk dataframe
           Name                 Name2 Primary Type Secondary type  Attack  \
1025     Dreepy                   NaN       DRAGON          GHOST      60
1026   Drakloak                   NaN       DRAGON          GHOST      80
1027  Dragapult                   NaN       DRAGON          GHOST     120
1028     Zacian         Crowned Sword        FAIRY          STEEL     170
1029     Zacian  Hero of Many Battles        FAIRY            NaN     130

      Defense  HP  Sp.Attack  Sp.Defense  Speed  Total
1025       30  28         40          30     82    270
1026       50  68         60          50    102    410

In [32]:


#small_df = pd.df(columns = df.columns)

#for small_df in pd.read_csv('Pokemon_Data.csv', chunksize = 10 ):
#    results = df.groupby(['Primary Type']).count()
#   small_df = pd.concat([new_df, results])
#    print(df5)
    

###