# Basics of Python 3
## Practice Notebook 1.1: 
#### Strings, Control statements, Lists, Dictionaries, Functions, 

This is a basic Python 3 practice notebook which covers the following topics:

1. Strings
2. Use of flow control statements like if-else, for loops
3. Lists
4. Dictionaries
5. Functions

Target audience for this notebook are people who are looking to quickly brush up their python skills, people who feeltoo lazy to read python documentation, type code themselves, or don't have enough time to watch the plenty of tutorials online. I assume you have some experience in programming before but now you kind of forgot the things. 

So sit back with a cup of coffee and start reading the notebook and keep running the coding cells. Interact with the code, try to understand what is happening and if possible feel free to tinker with code. It would roughly take 1 hour to comple this notebook. If you read the notebook carefully and exexcuted the code cells, you will be good to go with the python basics. I plan to write a series of Notebooks covering various topics on Python 3, OOP, Numpy, Pandas, SciPy, matplotlib and others.

Feel free to write me feedback at vishusharma296@gmail.com


**Author: Vishu Sharma** 

Last Update: 09.03.2022\
First Version: 13.02.2022\
Version: 02_2022

#### Sources to learn Python:

* [Automate the Boring Stuff](https://automatetheboringstuff.com/)
* [Dive into Python3](https://diveintopython3.net/)
* [Python for Everyone](https://www.py4e.com/)

In [1]:
# Importing Libraries

import math
import random
import pprint

## 1.0. String manipulation

In [2]:
a = "ant"
b = "bat"

sentence = a + b
aa = a*2

In [3]:
print(sentence)

antbat

In [4]:
print(a,b) # Notice the space between cat and bat

ant bat

In [5]:
print (a, b, "!")

ant bat !

In [6]:
print("aa value is:", aa)

aa value is: antant

In [7]:
string1 = "crazy cow kills the tiger"

In [8]:
string2 = string1[5:9] # slicing a string

In [9]:
print (string2)

 cow

In [10]:
string1[0:5]

'crazy'

#### 1.1 Methods on strings

In [11]:
"tiger".upper()

'TIGER'

In [12]:
string1.capitalize()  # Changes the first character to upper case

'Crazy cow kills the tiger'

In [13]:
string3 = string1.replace("tiger", "lion")
print(string3)

crazy cow kills the lion

In [14]:
# splitting the string using for loop (Check flow control -for loop )
for words in string3.split():
    print(words)

crazy
cow
kills
the
lion

## 2.0 Flow Control: if- else, for loop, while loop

In [15]:
# if-elif-else

print(' To know the price of fruit enter the fruit name')

fruit = input()

if fruit == 'Mango':
    print('3€')
elif fruit == 'Banana':
    print('2€')
elif fruit == 'Apple':
    print('4€')
elif fruit == 'Pineapple':
    print('1€')
else:
    print('Sorry fruit not available')

 To know the price of fruit enter the fruit name
Apple
4€

In [16]:
# for loop

for ind in range(0,20,2):
    print(ind)

0
2
4
6
8
10
12
14
16
18

In [17]:
# While loop

index = 0
while index <= 10:
    index = index + 1
    print(index)

1
2
3
4
5
6
7
8
9
10
11

## 3.0 Lists

In [18]:
list1 = [1, 3, 5, 7 ,34, 67]

In [19]:
len(list1)

6

In [20]:
sum(list1)

117

In [21]:
list2 = list1[-1:-7:-1]

In [22]:
print(list1[-1:-7:-1])

[67, 34, 7, 5, 3, 1]

In [23]:
list3 = list1 + list2  # Concatenating the list

In [24]:
print(list3)

[1, 3, 5, 7, 34, 67, 67, 34, 7, 5, 3, 1]

In [25]:
print(list3[0:3:1])

[1, 3, 5]

#### 3.1 List Manipulation

In [26]:
# Extending the existing list with another list
list1.extend(list3)

In [27]:
print(list1) # Notice that original list 1 is extended

[1, 3, 5, 7, 34, 67, 1, 3, 5, 7, 34, 67, 67, 34, 7, 5, 3, 1]

In [28]:
# Adding list inside list using append
list2.append(list3)

In [29]:
print(list2) # Notice that list 3 is appended inside original list 2

[67, 34, 7, 5, 3, 1, [1, 3, 5, 7, 34, 67, 67, 34, 7, 5, 3, 1]]

In [30]:
# Manipulating elements of list
list1[1:4] = [0, 0, 0, 0]   # Assiging elements with index 1 to 4  new values

In [31]:
print(list1)

[1, 0, 0, 0, 0, 34, 67, 1, 3, 5, 7, 34, 67, 67, 34, 7, 5, 3, 1]

In [32]:
# Deleting elements in list
del list1[:4] # deletes the first four elements

In [33]:
print(list1)

[0, 34, 67, 1, 3, 5, 7, 34, 67, 67, 34, 7, 5, 3, 1]

In [34]:
# accessing the elements of lists via foor loop
for element in list3:
    print(element)

1
3
5
7
34
67
67
34
7
5
3
1

In [35]:
print("Sum of the elements in third list is: ", sum(list3))

Sum of the elements in third list is:  234

In [36]:
# getting index and value via enumerate function in lists

for counter, value in enumerate(list3):    
    print(counter, ":", value)

0 : 1
1 : 3
2 : 5
3 : 7
4 : 34
5 : 67
6 : 67
7 : 34
8 : 7
9 : 5
10 : 3
11 : 1

#### 3.2 List inside lists: Accessing and manipulating elements,

In [37]:
list5 = ['Joker', 'bat', 'batmobile', 'batcave', 'alfred']
list6 = ['batman', 'superman', 'spiderman', 'ironman']

In [38]:
# Lists inside list
comics_list = [list5, list6]

In [39]:
print(comics_list)

[['Joker', 'bat', 'batmobile', 'batcave', 'alfred'], ['batman', 'superman', 'spiderman', 'ironman']]

In [40]:
print(comics_list[1][2])

spiderman

In [41]:
print(comics_list[0][3])

batcave

In [42]:
print(comics_list[0][0:3])

['Joker', 'bat', 'batmobile']

In [43]:
'Joker' in list5

True

In [44]:
'Joker' in comics_list

False

In [45]:
# Storing output of a for loop in an empty list

list8 = []
list9 = []

In [46]:
for index in range(0,30,3):
    sq_in = index**2
    list8.append(sq_in)
    ran_in = random.randint(0, 20)
    list9.append(ran_in)
    print(sq_in)

0
9
36
81
144
225
324
441
576
729

In [47]:
print(list8)

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

In [48]:
print(list9)

[5, 2, 2, 3, 1, 12, 2, 20, 10, 5]

In [49]:
list9.sort()
print(list9)

[1, 2, 2, 2, 3, 5, 5, 10, 12, 20]

In [50]:
random.shuffle(list8)
print(list8)

[324, 729, 441, 9, 144, 0, 576, 225, 81, 36]

In [51]:
list8.sort(reverse = True)  # Sorting the list in reverse order
print(list8)

[729, 576, 441, 324, 225, 144, 81, 36, 9, 0]

In [52]:
list9.remove(10)  # removing specific element from the list
print(list9)

[1, 2, 2, 2, 3, 5, 5, 12, 20]

In [53]:
list9.insert(0, 500)   # inserting 500 on 0th index
print(list9)

[500, 1, 2, 2, 2, 3, 5, 5, 12, 20]

In [54]:
list9.append(1000)
print(list9)

[500, 1, 2, 2, 2, 3, 5, 5, 12, 20, 1000]

## 4.0 Dictionary

In [55]:
my_dict1 = {
    "name": "John",
    "age" : "30",
    "salary" : "5000",
    "city" : "Berlin"
}

In [56]:
 print(my_dict1)

{'name': 'John', 'age': '30', 'salary': '5000', 'city': 'Berlin'}

In [57]:
print('my name is:', my_dict1['name'])

my name is: John

In [58]:
my_dict1.values()

dict_values(['John', '30', '5000', 'Berlin'])

In [59]:
my_dict1.keys()

dict_keys(['name', 'age', 'salary', 'city'])

In [60]:
my_dict1['education'] = 'Universität Siegen' # Assigning a new key value pair in my_dict1

In [61]:
my_dict1.items()

dict_items([('name', 'John'), ('age', '30'), ('salary', '5000'), ('city', 'Berlin'), ('education', 'Universität Siegen')])

#### 4.1 Aceessing and manipulating items in dictionary

In [62]:
mycity = {'name': 'Siegen', 'population': '120k', 'transport': 'bus', 'code': '57076'}

In [63]:
for k in mycity.keys():
    print(k)

name
population
transport
code

In [64]:
for i in mycity.items():
    print(i)

('name', 'Siegen')
('population', '120k')
('transport', 'bus')
('code', '57076')

In [65]:
mycity.get('population', 0)

'120k'

In [66]:
'name' in mycity

True

In [67]:
'name' in mycity.values()

False

In [68]:
mycity2 = dict(name = 'Paris', population = '3200k', transport = 'train', code = '75000')

In [69]:
mycity2['population']

'3200k'

In [70]:
mycity2['education'] = 'University of Paris' # Adding a new key value pair in dictionary

In [71]:
for v in mycity2.values():
    print(v)

Paris
3200k
train
75000
University of Paris

In [72]:
mycity2.pop('transport')  # Removing a key value pair

'train'

In [73]:
for i in mycity2.items():
    print(i)

('name', 'Paris')
('population', '3200k')
('code', '75000')
('education', 'University of Paris')

#### 4.2 Dictionaries inside List

In [74]:
### Employee database

Info_Jake_ = {
    "name": "Jake",
    "age" : "31",
    "salary" : "5400",
    "city" : "Berlin",
    "emp_id" : "0001"
}


Info_Michael_ = {
    "name": "Michael",
    "age" : "29",
    "salary" : "5800",
    "city" : "Munich",
    "emp_id" : "0002"
}

Info_Lena_ = {
    "name": "Lena",
    "age" : "28",
    "salary" : "6800",
    "city" : "Hamburg",
    "emp_id" : "0003"
}

Info_Julia_ = {
    "name": "Julia",
    "age" : "23",
    "salary" : "4000",
    "city" : "Siegen",
    "emp_id" : "0004"
}

In [75]:
Info_Emp_list = [Info_Jake_, Info_Michael_, Info_Lena_, Info_Julia_]

In [76]:
pprint.pprint(Info_Emp_list)

[{'age': '31',
  'city': 'Berlin',
  'emp_id': '0001',
  'name': 'Jake',
  'salary': '5400'},
 {'age': '29',
  'city': 'Munich',
  'emp_id': '0002',
  'name': 'Michael',
  'salary': '5800'},
 {'age': '28',
  'city': 'Hamburg',
  'emp_id': '0003',
  'name': 'Lena',
  'salary': '6800'},
 {'age': '23',
  'city': 'Siegen',
  'emp_id': '0004',
  'name': 'Julia',
  'salary': '4000'}]

## 5.0 Functions

A function is a block of organized, reusable code that is used to perform a single, related action. [5.1] Functions are first class objects. When they are attached to objects they are called methods. Functions can be assigend to:
* Variable
* An item in list
* passed as an argument to another function



#### Global and Local Variables

[5.2] Variables that are defined inside a function body have a local scope, and those defined outside have a global scope. Global variables are variables declared outside the function body. These cannot be modified within function. Global variables can be accessed throughout the program body by all functions. Local variables can be accessed only inside the function in which they are declared.

**References**:

[5.1] : SciPy Documentation\
[5.2] : Software Engineering Course at Universität Siegen, Instructors: Dr. Christian Weber, Hasan Abu Rashid

In [77]:
### Local and global variable

csm_2 = 100
def cube_sum(arg1, arg2):
    """ This program takes two arguments, 
    takes cube of the arguments and adds them """
    csm_2 = arg1**3 + arg2**3
    print('Value of local variable csm_2 :', csm_2)
    return csm_2;

In [78]:
cube_sum(2,3)

Value of local variable csm_2 : 35

35

In [79]:
print('Value of global variable csm_2 :', csm_2)

Value of global variable csm_2 : 100

In [80]:
### Function with default arguments

def Marriage_maker ():
    
    """ This function takes the name and age of bride and groom \
    and tries to predict the possibility of the marriage """
    
    print('What is the name of Groom? :' )
    Groom = input()
    print('What is age of %s Groom in years:' %(Groom) )
    P1_age = float(input())
    
    print('What is the name of Bride? :' )
    Bride = input() 
    print('What is age of %s in years:' %(Bride))
    P2_age = float(input())
    
    if P1_age-P2_age >=10:
        print('This marriage cannot happen')   
    else:
        print('Let it be known that %s and %s are one heart, one flesh, one soul.'\
             %(Groom, Bride))

In [81]:
Marriage_maker()

What is the name of Groom? :
John
What is age of John Groom in years:
31
What is the name of Bride? :
Julia
What is age of Julia in years:
23
Let it be known that John and Julia are one heart, one flesh, one soul.

In [82]:
### Function with variable length arguments as input

def Info_person(First_name, *other_info):
    print("You give the following information about: %s"  %(First_name))
    for info in other_info:
        print(info)
    return

In [83]:
Info_person('Jake','Berlin', 31)
Info_person('Julia','Siegen', 'Married', 'No criminal record', 23)

You give the following information about: Jake
Berlin
31
You give the following information about: Julia
Siegen
Married
No criminal record
23

In [84]:
### Function with required arguments

def Pythagorean_distance(x1, x2):
    x_py_2 = x1**2 + x2**2
    x_py = math.sqrt(x_py_2)
    return x_py

In [85]:
Pythagorean_distance(12, 5)

13.0

In [86]:
### factorial Function

def Factorial():
    n = int(input("Enter a positive integer for which you want to calculate the factorial: "))
    fact = 1
    
    val = int(n)
    if val < 0:
        print("Entered number is not a positive integer, Please enter a positive integer")
        
    else:
        print("You entered a positive integer: %s" % (n))
        while(n>0):
            fact=fact*n
            n=n-1
        print("Factorial of the entered number is %s: " %(fact))

In [87]:
%%time
Factorial()

Enter a positive integer for which you want to calculate the factorial: 30
You entered a positive integer: 30
Factorial of the entered number is 265252859812191058636308480000000:
Wall time: 6.42 s

#### 5.2 Entering dictionary and list values as argument to function:

In [88]:
dist_2 = {"s1" :3 , "s2" : 4}

In [89]:
Pythagorean_distance(dist_2["s1"],dist_2["s2"])  # Keyword arguments

5.0

In [90]:
list_2_args = [5, 12]

In [91]:
Pythagorean_distance(*list_2_args)  # Positional arguments

13.0

In [92]:
Pythagorean_distance(*[7,24])   # Positional arguments

25.0